// Dependencies.
@import 'base/headings/headings';
@import 'components/clearfix/clearfix';

// Branding header
//
// Markup: header.twig
//
// Style guide: components.header

.header,
%header {
  @extend %clearfix;

  // Wrapping link for logo.
  &__logo {
    float: left;
    margin: 0 10px 0 0;
    padding: 0;

    @include rtl() {
      float: right;
      margin: 0 0 0 10px;
    }
  }

  // Logo image.
  &__logo-image {
    vertical-align: bottom;
  }

  // Wrapper for website name and slogan.
  &__name-and-slogan {
    float: left;
  }

  // The name of the website.
  &__site-name {
    @extend %h1;
    margin: 0;
  }

  // The link around the name of the website.
  &__site-link {
    &:link,
    &:visited {
      color: color(text);
      text-decoration: none;
    }

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  // The slogan (or tagline) of a website.
  &__site-slogan {
    margin: 0;
  }

  // The secondary menu (login, etc.)
  &__secondary-menu {
    float: right;

    @include rtl() {
      float: left;
    }
  }

  // Wrapper for any blocks placed in the header region.
  &__region {
    // Clear the logo.
    clear: both;
  }
}

.links {

  font-size: .8em;

  a {
    display: inline-block;
    vertical-align: top;
    color: #fff;
    background: #161616;
    border-radius: 23px;
    height: 23px;
    margin-right: 10px;
  }

  .instagram,
  .facebook {
    overflow: hidden;
    width: 23px;
    text-indent: 30px;
  }

  .instagram {
    background: #161616 url('../img/instagram.png') center center no-repeat;
  }

  .facebook {
    background: #161616 url('../img/facebook.png') center center no-repeat;
  }

  .prevendite,
  .rimani {
    padding: 0 12px;
  }
}
