@charset "UTF-8";
* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  line-height: 1.5em;
  font-family: "Lato", sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  min-height: 100%;
}

@media print {
  html {
    font-size: 12pt;
  }
}

body {
  margin: 0;
  padding: 0;
  color: #000;
  background-color: #000;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

progress {
  vertical-align: baseline;
}

template,
[hidden] {
  display: none;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  border: none;
}

header,
footer {
  background: #fff;
  color: #161616;
}

main {
  background: #161616 url("../img/pattern.png") 0 0 repeat;
  color: #fff;
}

a {
  color: #0072b9;
  -webkit-text-decoration-skip: objects;
}

:visited {
  color: #003353;
}

a:active {
  color: #c00;
}

a:active:not(.button) {
  background-color: transparent;
}

a:active,
a:hover {
  outline-width: 0;
}

@media print {
  :link,
  :visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
    font-weight: normal;
    font-size: 16px;
    text-decoration: none;
  }
  a[href^='javascript:']:after,
  a[href^='#']:after {
    content: '';
  }
}

h1,
.header__site-name {
  font-size: 2rem;
  line-height: 3rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 1.5rem;
  line-height: 2.25rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

h3 {
  font-size: 1.25rem;
  line-height: 2.25rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

h4 {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

h5 {
  font-size: 0.875rem;
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

h6 {
  font-size: 0.625rem;
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

abbr[title] {
  border-bottom: 0;
  text-decoration: underline;
  text-decoration: underline dotted;
}

@media print {
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
}

b,
strong {
  font-weight: inherit;
}

strong,
b {
  font-weight: bolder;
}

pre,
code,
kbd,
samp,
var {
  font-family: Menlo, "DejaVu Sans Mono", "Ubuntu Mono", Courier, "Courier New", monospace, sans-serif;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #fd0;
  color: #000;
}

small {
  font-size: 0.875rem;
}

sub,
sup {
  font-size: 0.625rem;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

.divider,
hr {
  margin: 1.5rem 0;
  border: 0;
  border-top: 1px solid #cccccc;
}

.divider > :first-child, hr > :first-child {
  margin-top: 1.5rem;
}

blockquote {
  margin: 1.5rem 2rem;
}

dl,
menu,
ol,
ul {
  margin: 1.5rem 0;
}

ol ol,
ol ul,
ul ol,
ul ul {
  margin: 0;
}

dd {
  margin: 0 0 0 32px;
}

[dir="rtl"] dd {
  margin: 0 32px 0 0;
}

menu,
ol,
ul {
  padding: 0 0 0 32px;
}

[dir="rtl"] menu, [dir="rtl"]
ol, [dir="rtl"]
ul {
  padding: 0 32px 0 0;
}

figure {
  margin: 1.5rem 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

p,
pre {
  margin: 1.5rem 0;
}

img {
  border-style: none;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  box-sizing: border-box;
  max-width: 100%;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

input {
  overflow: visible;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type='search']::-webkit-search-cancel-button, [type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: .54;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

.button,
button,
html [type='button'],
[type='reset'],
[type='submit'] {
  -moz-appearance: button;
  -webkit-appearance: button;
}

.button,
button,
[type='button'],
[type='reset'],
[type='submit'] {
  display: inline-block;
  padding: 2px 6px;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}

.button::-moz-focus-inner,
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

.button:-moz-focusring,
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

.button:hover, .button:focus, .button:active,
button:hover,
button:focus,
button:active,
[type='button']:hover,
[type='button']:focus,
[type='button']:active,
[type='reset']:hover,
[type='reset']:focus,
[type='reset']:active,
[type='submit']:hover,
[type='submit']:focus,
[type='submit']:active {
  text-decoration: none;
  color: #fff;
}

[disabled].button,
button[disabled],
[disabled][type='button'],
[disabled][type='reset'],
[disabled][type='submit'] {
  cursor: default;
  color: #999999;
}

[disabled].button:hover,
button[disabled]:hover,
[disabled][type='button']:hover,
[disabled][type='reset']:hover,
[disabled][type='submit']:hover, [disabled].button:focus,
button[disabled]:focus,
[disabled][type='button']:focus,
[disabled][type='reset']:focus,
[disabled][type='submit']:focus, [disabled].button:active,
button[disabled]:active,
[disabled][type='button']:active,
[disabled][type='reset']:active,
[disabled][type='submit']:active {
  color: #999999;
}

[type='checkbox'],
[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}

fieldset {
  padding: 0.525rem 0.9375rem 0.975rem;
  border: 1px solid #cccccc;
  margin: 0 2px;
}

legend {
  box-sizing: border-box;
  display: table;
  max-width: 100%;
  white-space: normal;
  color: inherit;
  margin-left: -5px;
  padding: 0 5px;
}

label {
  display: block;
  font-weight: bold;
}

optgroup {
  font-weight: bold;
}

textarea {
  overflow: auto;
}

table {
  margin: 1.5rem 0;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

td,
th {
  padding: 0;
}

.box {
  margin-bottom: 1.5rem;
  border: 5px solid #cccccc;
  padding: 1em;
}

.box__title {
  margin: 0;
}

.box:focus, .box:hover, .box.is-focus, .box--is-focus {
  border-color: #000;
}

.box--highlight {
  border-color: #0072b9;
}

.clearfix:before,
.header:before,
.tabs:before,
body #sliding-popup.sliding-popup-top:before,
.footer:before {
  content: '';
  display: table;
}

.clearfix:after,
.header:after,
.tabs:after,
body #sliding-popup.sliding-popup-top:after,
.footer:after {
  content: '';
  display: table;
  clear: both;
}

.comment__section,
.comments {
  margin: 1.5rem 0;
}

.comment__title {
  margin: 0;
}

.comment__permalink {
  text-transform: uppercase;
  font-size: 75%;
}

.comment--preview,
.comment-preview {
  background-color: #fffadb;
}

.comment--nested,
.indented {
  margin-left: 32px;
}

[dir="rtl"] .comment--nested,
[dir="rtl"] .indented {
  margin-left: 0;
  margin-right: 32px;
}

.header__logo {
  float: left;
  margin: 0 10px 0 0;
  padding: 0;
}

[dir="rtl"] .header__logo {
  float: right;
  margin: 0 0 0 10px;
}

.header__logo-image {
  vertical-align: bottom;
}

.header__name-and-slogan {
  float: left;
}

.header__site-name {
  margin: 0;
}

.header__site-link:link, .header__site-link:visited {
  color: #000;
  text-decoration: none;
}

.header__site-link:hover, .header__site-link:focus {
  text-decoration: underline;
}

.header__site-slogan {
  margin: 0;
}

.header__secondary-menu {
  float: right;
}

[dir="rtl"] .header__secondary-menu {
  float: left;
}

.header__region {
  clear: both;
}

.links {
  font-size: .8em;
}

.links a {
  display: inline-block;
  vertical-align: top;
  color: #fff;
  background: #161616;
  border-radius: 23px;
  height: 23px;
  margin-right: 10px;
}

.links .instagram,
.links .facebook {
  overflow: hidden;
  width: 23px;
  text-indent: 30px;
}

.links .instagram {
  background: #161616 url("../img/instagram.png") center center no-repeat;
}

.links .facebook {
  background: #161616 url("../img/facebook.png") center center no-repeat;
}

.links .prevendite,
.links .rimani {
  padding: 0 12px;
}

.hidden,
html.js .js-hidden,
html.js .element-hidden,
html.js .js-hide {
  display: none;
}

.highlight-mark,
.new,
.update {
  color: #c00;
  background-color: transparent;
}

.inline-links,
.inline.links {
  padding: 0;
}

.inline-links__item,
.inline.links li {
  display: inline;
  list-style-type: none;
  padding: 0 1em 0 0;
}

[dir="rtl"] .inline-links__item,
[dir="rtl"] .inline.links li,
.inline.links [dir="rtl"] li {
  display: inline-block;
  padding: 0 0 0 1em;
}

.inline-sibling,
.field-label-inline .field-label,
span.field-label {
  display: inline;
  margin-right: 10px;
}

[dir="rtl"] .inline-sibling,
[dir="rtl"] .field-label-inline .field-label,
.field-label-inline [dir="rtl"] .field-label,
[dir="rtl"] span.field-label {
  margin-right: 0;
  margin-left: 10px;
}

.inline-sibling__child,
.inline-sibling *, .field-label-inline .field-label *, span.field-label * {
  display: inline;
}

.inline-sibling__adjacent,
.inline-sibling + *,
.inline-sibling + * > :first-child,
.inline-sibling + * > :first-child > :first-child, .field-label-inline .field-label + *, span.field-label + *, .field-label-inline .field-label + * > :first-child, span.field-label + * > :first-child, .field-label-inline .field-label + * > :first-child > :first-child, span.field-label + * > :first-child > :first-child {
  display: inline;
}

.field-label-inline .field-label,
.field-label-inline .field-items {
  float: none;
}

.messages,
.messages--status {
  margin: 1.5rem 0;
  position: relative;
  padding: 10px 10px 10px 44px;
  border: 1px solid #0072b9;
}

[dir="rtl"] .messages,
[dir="rtl"] .messages--status {
  padding: 10px 44px 10px 10px;
  background-position: 99% 8px;
}

.messages__icon {
  position: absolute;
  top: 50%;
  left: 10px;
  height: 24px;
  width: 24px;
  margin-top: -12px;
  line-height: 1;
}

[dir="rtl"] .messages__icon {
  left: auto;
  right: 0;
}

.messages__icon path {
  fill: #0072b9;
}

.messages__highlight,
.messages--error .error,
.messages.error .error {
  color: #000;
}

.messages__list {
  margin: 0;
}

.messages__item {
  list-style-image: none;
}

.messages--ok-color,
.messages,
.messages--status,
.ok,
.revision-current {
  background-color: #f6fcff;
  color: #0072b9;
}

.messages--warning-color,
.messages--warning,
.messages.warning,
.warning {
  background-color: #fffce6;
  color: #000;
}

.messages--error-color,
.messages--error,
.messages.error,
.error {
  background-color: #fff0f0;
  color: #c00;
}

.messages--warning,
.messages.warning {
  border-color: #fd0;
}

.messages--warning path, .messages.warning path {
  fill: #fd0;
}

.messages--error,
.messages.error {
  border-color: #c00;
}

.messages--error path, .messages.error path {
  fill: #c00;
}

@media print {
  .print-none,
  .toolbar,
  .action-links,
  .links,
  .book-navigation,
  .forum-topic-navigation,
  .feed-icons {
    display: none;
  }
}

.responsive-video,
.media-youtube-video,
.media-vimeo-preview-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}

.responsive-video__embed,
.responsive-video iframe,
.media-youtube-video iframe,
.media-vimeo-preview-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.responsive-video--4-3 {
  padding-bottom: 75%;
}

.visually-hidden,
.element-invisible,
.element-focusable {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  word-wrap: normal;
}

.visually-hidden--off,
.visually-hidden--focusable:active,
.visually-hidden--focusable:focus,
.element-focusable:active,
.element-focusable:focus {
  position: static !important;
  clip: auto;
  height: auto;
  width: auto;
  overflow: visible;
}

body.front {
  background: #000;
}

@media screen and (max-width: 767px) {
  body.front {
    background: #000 url("../img/front.jpg") 0 0 no-repeat;
    background-size: cover;
  }
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
}

.cover .hi {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}

.cover .hi span {
  color: #ff0;
  cursor: pointer;
  text-decoration: underline;
}

.cover .hi em {
  font-style: normal;
}

.cover .hi em.hidden {
  display: none;
}

.cover .hi a {
  color: #fff;
  text-decoration: none;
  display: block;
  width: 175px;
  height: 42px;
  line-height: 40px;
  border: 2px solid white;
  font-size: 25px;
  font-weight: 700;
  margin: 48px auto 10px auto;
}

.tv {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.tv .screen {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  margin: auto;
  opacity: 0;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

.tv .screen.active {
  opacity: 1;
}

.skip-link {
  display: block;
  padding: 0;
  text-align: center;
}

.skip-link:link, .skip-link:visited {
  background-color: #666666;
  color: #fff;
}

.skip-link__wrapper {
  margin: 0;
  padding: 0;
}

@media print {
  .skip-link__wrapper {
    display: none;
  }
}

.tabs {
  margin: 1.125rem 0 0;
  line-height: 1.875rem;
  border-bottom: 1px solid #cccccc;
  background-image: -webkit-linear-gradient(bottom, #cccccc 1px, transparent 1px);
  background-image: linear-gradient(to top, #cccccc 1px, transparent 1px);
  padding: 0 2px;
  list-style: none;
  white-space: nowrap;
}

@media print {
  .tabs {
    display: none;
  }
}

.tabs__tab {
  float: left;
  margin: 0 3px;
  border: 1px solid #cccccc;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-color: transparent;
  border-bottom: 0;
  overflow: hidden;
  background: #dddddd;
}

[dir="rtl"] .tabs__tab {
  float: right;
}

.tabs__tab.is-active {
  border-bottom-color: #fff;
}

.tabs__tab-link {
  padding: 0 1.5rem;
  display: block;
  text-decoration: none;
  -webkit-transition: color .3s, background .3s, border .3s;
  transition: color .3s, background .3s, border .3s;
  text-shadow: #fff 0 1px 0;
  color: #000;
  background: #dddddd;
  letter-spacing: 1px;
}

.tabs__tab-link:focus, .tabs__tab-link:hover {
  background: #eaeaea;
}

.tabs__tab-link:active, .tabs__tab-link.is-active, .tabs__tab-link--is-active {
  background: #fff;
  text-shadow: none;
}

.tabs--off,
.views-displays .secondary {
  margin: 0;
  border-bottom: 0;
  padding: 0;
  background-image: none;
}

.tabs--secondary {
  margin-top: 1.5rem;
  font-size: 0.875rem;
  background-image: none;
}

.tabs + .tabs--secondary {
  margin-top: 0;
  background-image: -webkit-linear-gradient(bottom, #cccccc 1px, transparent 1px);
  background-image: linear-gradient(to top, #cccccc 1px, transparent 1px);
}

.tabs--secondary .tabs__tab {
  margin: 0.5625rem 0.1875rem;
  border: 0;
  background: transparent;
}

[dir="rtl"] .tabs--secondary .tabs__tab {
  float: right;
}

.tabs--secondary .tabs__tab.is-active {
  border-bottom-color: transparent;
}

.tabs--secondary .tabs__tab-link {
  border: 1px solid #cccccc;
  border-radius: 24px;
  color: #666666;
  background: #f1f1f1;
  letter-spacing: normal;
}

.tabs--secondary .tabs__tab-link:focus, .tabs--secondary .tabs__tab-link:hover {
  color: #333333;
  background: #dddddd;
  border-color: #999999;
}

.tabs--secondary .tabs__tab-link:active, .tabs--secondary .tabs__tab-link.is-active, .tabs--secondary .tabs__tab-link--is-active {
  color: white;
  text-shadow: #333333 0 1px 0;
  background: #666666;
  border-color: black;
}

.autocomplete,
.form-autocomplete {
  background-image: url(../sass/forms/autocomplete/throbber-inactive.png);
  background-position: 100% center;
  background-repeat: no-repeat;
}

[dir="rtl"] .autocomplete,
[dir="rtl"] .form-autocomplete {
  background-position: 0% center;
}

.autocomplete__list-wrapper,
#autocomplete {
  border: 1px solid;
  overflow: hidden;
  position: absolute;
  z-index: 100;
}

.autocomplete__list,
#autocomplete ul {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

.autocomplete__list-item,
#autocomplete li {
  background: #fff;
  color: #000;
  cursor: default;
  white-space: pre;
}

.autocomplete__list-item.is-selected, .autocomplete__list-item--is-selected,
#autocomplete li.is-selected,
#autocomplete .selected {
  background: #0072b9;
  color: #fff;
}

.autocomplete.is-throbbing, .autocomplete--is-throbbing,
.is-throbbing.form-autocomplete,
.form-autocomplete.throbbing {
  background-image: url(../sass/forms/autocomplete/throbber-active.gif);
}

.collapsible-fieldset,
.collapsible {
  position: relative;
}

.collapsible-fieldset__legend,
.collapsible .fieldset-legend {
  display: block;
  padding-left: 15px;
  background-image: url(../sass/forms/collapsible-fieldset/expanded.svg);
  background-position: 4px 50%;
  background-repeat: no-repeat;
}

[dir="rtl"] .collapsible-fieldset__legend,
[dir="rtl"] .collapsible .fieldset-legend,
.collapsible [dir="rtl"] .fieldset-legend {
  padding-left: 0;
  padding-right: 15px;
  background-position: right 4px top 50%;
}

.collapsible-fieldset__summary,
.collapsible .fieldset-legend .summary {
  color: #999999;
  font-size: .9em;
  margin-left: .5em;
}

.collapsible-fieldset.is-collapsed, .collapsible-fieldset--is-collapsed,
.is-collapsed.collapsible,
.collapsible.collapsed {
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  height: 1em;
}

.collapsible-fieldset.is-collapsed .collapsible-fieldset__wrapper, .collapsible-fieldset--is-collapsed__wrapper, .is-collapsed.collapsible .collapsible-fieldset__wrapper,
.collapsible.collapsed .fieldset-wrapper {
  display: none;
}

.collapsible-fieldset.is-collapsed .collapsible-fieldset__legend, .collapsible-fieldset--is-collapsed__legend, .is-collapsed.collapsible .collapsible-fieldset__legend,
.collapsible.collapsed .fieldset-legend,
.collapsible-fieldset.is-collapsed .collapsible .fieldset-legend,
.collapsible .collapsible-fieldset.is-collapsed .fieldset-legend,
.is-collapsed.collapsible .fieldset-legend {
  background-image: url(../sass/forms/collapsible-fieldset/collapsed.svg);
  background-position: 4px 50%;
}

[dir="rtl"] .collapsible-fieldset.is-collapsed .collapsible-fieldset__legend, [dir="rtl"] .collapsible-fieldset--is-collapsed__legend, [dir="rtl"] .is-collapsed.collapsible .collapsible-fieldset__legend,
[dir="rtl"] .collapsible.collapsed .fieldset-legend,
.collapsible.collapsed [dir="rtl"] .fieldset-legend,
[dir="rtl"] .collapsible-fieldset.is-collapsed .collapsible .fieldset-legend,
.collapsible [dir="rtl"] .collapsible-fieldset.is-collapsed .fieldset-legend,
[dir="rtl"] .is-collapsed.collapsible .fieldset-legend {
  background-image: url(../sass/forms/collapsible-fieldset/collapsed-rtl.svg);
  background-position: right 4px top 50%;
}

.form-item {
  margin: 1.5rem 0;
}

.form-item__required,
.form-required {
  color: #c00;
}

.form-item__description,
.form-item .description {
  font-size: 0.875rem;
}

.form-item--inline div,
.form-item--inline label, .container-inline .form-item div, .container-inline .form-item label {
  display: inline;
}

.form-item--inline__exception,
.container-inline .fieldset-wrapper {
  display: block;
}

.form-item--tight,
.form-item--radio,
.form-type-radio,
.form-type-checkbox,
.password-parent,
.confirm-parent,
table .form-item {
  margin: 0;
}

.form-item--radio .form-item__label, .form-item--radio__label, .form-type-radio .form-item__label,
.form-type-checkbox .form-item__label,
label.option {
  display: inline;
  font-weight: normal;
}

.form-item--radio .form-item__description, .form-item--radio__description, .form-type-radio .form-item__description,
.form-type-checkbox .form-item__description,
.form-type-radio .description,
.form-type-checkbox .description,
.form-item--radio .form-item .description,
.form-item .form-item--radio .description,
.form-type-radio .form-item .description,
.form-item .form-type-radio .description,
.form-type-checkbox .form-item .description,
.form-item
.form-type-checkbox .description {
  margin-left: 1.4em;
}

.form-item.is-error .form-item__widget, .form-item--is-error__widget,
.form-item.is-error input,
.form-item.is-error textarea,
.form-item.is-error select,
.form-item--is-error input,
.form-item--is-error textarea,
.form-item--is-error select,
.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border: 1px solid #c00;
}

.form-table__sticky-header,
.sticky-header {
  position: fixed;
  visibility: hidden;
  margin-top: 0;
  background-color: #fff;
}

.form-table__sticky-header.is-sticky, .form-table__sticky-header--is-sticky,
.is-sticky.sticky-header {
  visibility: visible;
}

.form-table__header,
.form-table th,
form table th {
  border-bottom: 3px solid #cccccc;
  padding-right: 1em;
  text-align: left;
}

[dir="rtl"] .form-table__header,
[dir="rtl"] .form-table th,
.form-table [dir="rtl"] th,
[dir="rtl"] form table th,
form table [dir="rtl"] th {
  text-align: right;
  padding-left: 1em;
  padding-right: 0;
}

.form-table__body,
.form-table tbody,
form table tbody {
  border-top: 1px solid #cccccc;
}

.form-table__row,
.form-table tbody tr,
form table tbody tr {
  padding: .1em .6em;
  border-bottom: 1px solid #cccccc;
  background-color: #eeeeee;
}

.form-table__row:nth-child(even),
.form-table tbody tr:nth-child(even),
form table tbody tr:nth-child(even) {
  background-color: #fff;
}

.form-table__row.is-active, .form-table__row--is-active,
.form-table tbody tr.is-active,
form table tbody tr.is-active,
td.active {
  background-color: #dddddd;
}

.form-table__row.is-disabled, .form-table__row--is-disabled,
.form-table tbody tr.is-disabled,
form table tbody tr.is-disabled,
td.menu-disabled {
  background: #cccccc;
}

.form-table__row.is-selected, .form-table__row--is-selected,
.form-table tbody tr.is-selected,
form table tbody tr.is-selected,
tr.selected td {
  background: #fffdf0;
}

.form-table__list,
.form-table ul,
form table ul {
  margin: 0;
}

.form-table__narrow-column,
.form-table th.form-table__narrow-column,
form table th.form-table__narrow-column,
td .checkbox,
th .checkbox {
  width: -moz-min-content;
  width: -webkit-min-content;
  text-align: center;
}

.progress-bar,
.progress {
  font-weight: bold;
}

.progress-bar__bar,
.progress .bar {
  border-radius: 3px;
  margin: 0 .2em;
  border: 1px solid #666666;
  background-color: #cccccc;
}

.progress-bar__fill,
.progress .filled {
  height: 1.5em;
  width: 5px;
  background: #0072b9 url(../sass/forms/progress-bar/progress-bar.gif) repeat 0 0;
}

.progress-bar__percentage,
.progress .percentage {
  float: right;
}

[dir="rtl"] .progress-bar__percentage,
[dir="rtl"] .progress .percentage,
.progress [dir="rtl"] .percentage {
  float: left;
}

.progress-bar--inline,
.ajax-progress-bar {
  width: 16em;
  display: inline-block;
}

[dir="rtl"] .progress-bar--inline,
[dir="rtl"] .ajax-progress-bar {
  float: right;
}

.progress-throbber,
.ajax-progress {
  display: inline-block;
}

[dir="rtl"] .progress-throbber,
[dir="rtl"] .ajax-progress {
  float: right;
}

.progress-throbber__widget,
.ajax-progress .throbber {
  background: url(../sass/forms/progress-throbber/progress-throbber.gif) no-repeat 0 -18px transparent;
  float: left;
  height: 15px;
  margin: 2px;
  width: 15px;
}

[dir="rtl"] .progress-throbber__widget,
[dir="rtl"] .ajax-progress .throbber,
.ajax-progress [dir="rtl"] .throbber {
  float: right;
}

.progress-throbber__widget-in-tr,
tr .ajax-progress .throbber {
  margin: 0 2px;
}

.progress-throbber__message,
.ajax-progress .message {
  padding-left: 20px;
}

.resizable-textarea,
.resizable-textarea textarea {
  width: 100%;
  vertical-align: bottom;
}

.resizable-textarea__grippie,
.resizable-textarea .grippie {
  background: url(../sass/forms/resizable-textarea/grippie.png) no-repeat center 2px #eeeeee;
  border: 1px solid #cccccc;
  border-top-width: 0;
  cursor: s-resize;
  height: 9px;
  overflow: hidden;
}

.table-drag__wrapper,
body.drag {
  cursor: move;
}

.table-drag__item,
tr.drag {
  background-color: #fffadb;
}

.table-drag__item-previous,
tr.drag-previous {
  background-color: #fff7c2;
}

.table-drag__handle,
.tabledrag-handle {
  cursor: move;
  float: left;
  height: 1.7em;
  margin-left: -1em;
  overflow: hidden;
  text-decoration: none;
  font-size: 12px;
}

[dir="rtl"] .table-drag__handle,
[dir="rtl"] .tabledrag-handle {
  float: right;
  margin-right: -1em;
  margin-left: 0;
}

.table-drag__handle:focus, .table-drag__handle:hover,
.tabledrag-handle:focus,
.tabledrag-handle:hover {
  text-decoration: none;
}

.table-drag__handle-icon,
.tabledrag-handle .handle {
  box-sizing: content-box;
  background: url(../sass/forms/table-drag/handle-icon.png) no-repeat 6px 9px;
  height: 13px;
  margin: -.4em .5em;
  padding: .42em .5em;
  width: 13px;
}

.table-drag__handle.is-hover .table-drag__handle-icon, .table-drag__handle-icon--is-hover, .is-hover.tabledrag-handle .table-drag__handle-icon,
.tabledrag-handle-hover .handle,
.table-drag__handle.is-hover .tabledrag-handle .handle,
.tabledrag-handle .table-drag__handle.is-hover .handle,
.is-hover.tabledrag-handle .handle {
  background-position: 6px -11px;
}

.table-drag__toggle-weight-wrapper,
.tabledrag-toggle-weight-wrapper {
  text-align: right;
}

[dir="rtl"] .table-drag__toggle-weight-wrapper,
[dir="rtl"] .tabledrag-toggle-weight-wrapper {
  text-align: left;
}

.table-drag__toggle-weight,
.tabledrag-toggle-weight {
  font-size: .9em;
}

.table-drag__indentation,
.indentation {
  float: left;
  height: 1.7em;
  margin: -.4em .2em -.4em -.4em;
  padding: .42em 0 .42em .6em;
  width: 20px;
}

[dir="rtl"] .table-drag__indentation,
[dir="rtl"] .indentation {
  float: right;
  margin: -.4em -.4em -.4em .2em;
  padding: .42em .6em .42em 0;
}

.table-drag__tree-child,
.table-drag__tree-child-last,
.tree-child-last,
.table-drag__tree-child-horizontal,
.tree-child-horizontal,
.tree-child {
  background: url(../sass/forms/table-drag/tree-child.png) no-repeat 11px center;
}

[dir="rtl"] .table-drag__tree-child,
[dir="rtl"] .table-drag__tree-child-last,
[dir="rtl"] .tree-child-last,
[dir="rtl"] .table-drag__tree-child-horizontal,
[dir="rtl"] .tree-child-horizontal,
[dir="rtl"] .tree-child {
  background-position: -65px center;
}

.table-drag__tree-child-last,
.tree-child-last {
  background-image: url(../sass/forms/table-drag/tree-child-last.png);
}

.table-drag__tree-child-horizontal,
.tree-child-horizontal {
  background-position: -11px center;
}

/* eu cookie */
body #sliding-popup.sliding-popup-top {
  background: rgba(0, 0, 0, 0.5);
  color: #c6c6c6;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 15px;
}

body #sliding-popup.sliding-popup-top #popup-buttons button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #989898;
  border-radius: 12px;
  color: #fff;
  text-transform: uppercase;
  border: none;
  box-shadow: none;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  text-shadow: none;
}

.krumo-root, .messages {
  max-width: 100%;
  overflow: hidden;
}

.krumo-root *, .messages * {
  white-space: nowrap;
  word-wrap: break-word;
  max-width: 100%;
}

h1, h2, h3 {
  font-family: "Yanone Kaffeesatz", sans-serif;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: .3em 0;
}

.maxwidth,
.block-views {
  max-width: 1280px;
  margin: 0 auto;
}

.header .links .rimani {
  display: none;
}

/* footer come header */
.footer__logo {
  float: left;
  margin: 0 10px 0 0;
  padding: 0;
}

[dir="rtl"] .footer__logo {
  float: right;
  margin: 0 0 0 10px;
}

.footer__logo-image {
  vertical-align: bottom;
}

.footer__region {
  clear: both;
}

.footer {
  border-top: 1px solid #d1d1d1;
}

.footer .header__logo {
  max-width: 140px;
}

.footer .main-menu .menu .menu {
  display: none;
}

.header .main-menu {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 22px;
  /* gallery */
}

@media screen and (max-width: 623px) {
  .header .maxwidth .header__logo {
    display: block;
    width: 274px;
    max-width: 95%;
    padding: 20px;
    margin: 0 auto;
    float: none;
  }
  .header .maxwidth .main-menu {
    width: 95%;
    max-width: 540px;
    margin: 0 auto;
  }
  .header .maxwidth .main-menu li,
  .header .maxwidth .main-menu a {
    display: block;
    text-decoration: none;
  }
  .header .maxwidth .main-menu li {
    margin-bottom: 3px;
  }
  .header .maxwidth .main-menu a {
    padding: 9px 14px;
    background: #161616;
    color: #fff;
  }
  .header .maxwidth .main-menu a.active {
    background: #fff;
    color: #161616;
    border: 1px solid #161616;
  }
  .header .maxwidth .main-menu .menu .menu {
    padding-top: 10px;
  }
  .header .maxwidth .main-menu .menu .menu li,
  .header .maxwidth .main-menu .menu .menu a {
    background: #fff;
    color: #000;
  }
  .header .maxwidth .main-menu .menu .menu li {
    border: 1px solid #e3e3e3;
  }
  .header .maxwidth .main-menu .open-close {
    overflow: hidden;
    width: 48px;
    height: 42px;
    line-height: 42px;
    text-indent: 50px;
    position: absolute;
    z-index: 3;
    top: 0;
    right: 0;
    background: #464646;
    color: #fff;
    padding: 0;
  }
  .header .maxwidth .main-menu .open-close::before {
    display: block;
    font-size: 14px;
    text-align: center;
    padding: 12px;
    width: 100%;
    height: 100%;
    line-height: 24px;
    text-indent: 0;
    color: #fff;
    position: absolute;
    z-index: 4;
    left: 0;
    top: 0;
  }
  .header .maxwidth .main-menu .is-expanded.is-close .open-close::before {
    content: '\25BC';
  }
  .header .maxwidth .main-menu .is-expanded.is-close .menu {
    display: none;
  }
  .header .maxwidth .main-menu .is-expanded.is-open .open-close::before {
    content: '\25B6';
  }
  .header .maxwidth .main-menu .is-expanded.is-open .menu {
    display: block;
  }
  .header .maxwidth .links {
    width: 95%;
    max-width: 448px;
    margin: 20px auto;
  }
  .footer .maxwidth {
    width: 95%;
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 624px) {
  .header .maxwidth {
    position: relative;
  }
  .header .maxwidth .header__logo {
    padding: 40px 25px 25px 0;
  }
  .header .maxwidth .links a.prevendite {
    margin-right: 0;
  }
  .header .maxwidth .main-menu {
    width: 65%;
    max-width: 550px;
    position: absolute;
    z-index: 2;
    right: 0;
    top: 62px;
  }
  .header .maxwidth .main-menu ul {
    width: 100%;
  }
  .header .maxwidth .main-menu li {
    float: left;
    padding: 0 4.54%;
  }
  .header .maxwidth .main-menu li:last-child {
    padding-right: 0;
  }
  .header .maxwidth .main-menu .menu .menu {
    display: none;
    width: 216px;
    background: #161616;
    color: #d6d6d6;
    position: absolute;
    z-index: 98;
    left: 16px;
    top: 40px;
  }
  .header .maxwidth .main-menu .menu .menu li {
    margin: 0;
    padding: 14px 0;
  }
  .header .maxwidth .main-menu .menu .menu li, .header .maxwidth .main-menu .menu .menu a {
    display: block;
    text-decoration: none;
    float: none;
    background: #161616;
    color: #d6d6d6;
    width: 100%;
    height: auto;
  }
  .header .maxwidth .main-menu .menu .menu a {
    border-left: 4px solid #161616;
    font-weight: 400;
    padding: 0 20px;
  }
  .header .maxwidth .main-menu .menu .menu a:hover {
    color: #fff;
    border-left: 4px solid #fff;
  }
  .header .maxwidth .main-menu .menu .menu::before {
    content: ' ';
    display: block;
    position: absolute;
    z-index: 99;
    left: 24px;
    top: -9px;
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid black;
  }
  .header .maxwidth .main-menu .menu .expanded:hover .menu {
    display: block;
  }
  .header .maxwidth .links {
    /*width: 220px;*/
    width: 226px;
    text-align: right;
    position: absolute;
    z-index: 3;
    right: 0;
    top: 14px;
  }
}

@media screen and (min-width: 624px) and (max-width: 840px) {
  .header .maxwidth .main-menu {
    padding-left: 2%;
  }
  .header .maxwidth .main-menu li {
    padding: 0 1% 0 3%;
  }
}

@media screen and (min-width: 624px) and (max-width: 1279px) {
  .maxwidth {
    padding: 0 10px;
  }
}

.footer .main-menu {
  font-size: 12px;
}

.main-menu ul, .main-menu li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-menu a {
  color: #000;
  display: block;
}

.main-menu .menu .is-expanded {
  position: relative;
}

.header {
  overflow: visible;
}

.header .main-menu a {
  height: 42px;
}

.header .main-menu .active-trail a {
  border-bottom: 5px solid #000;
}

.footer .col, .footer .links {
  float: left;
}

.footer .links {
  width: 100%;
}

.footer .col-links {
  max-width: 328px;
  min-width: 166px;
  padding-top: 30px;
}

.footer .col-links a {
  margin-bottom: 14px;
}

.footer .col-links .prevendite,
.footer .col-links .rimani {
  /*margin-right: calc(100% - 158px);*/
  margin-right: calc(100% - 226px);
}

.footer .col-menu {
  max-width: 500px;
  min-width: 100px;
  padding: 30px 0;
}

.footer .col-menu a {
  display: block;
  padding: 2px 0;
}

.footer .col-partner {
  max-width: 470px;
  min-width: 214px;
}

@media screen and (max-width: 623px) {
  .footer .col {
    padding: 12px 12px;
  }
}

.post-footer {
  background: #000;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 28px;
  padding-left: 2.5%;
  padding-right: 2.5%;
}

.post-footer a {
  text-decoration: none;
  color: #fff;
}

.front .post-footer {
  position: fixed;
  z-index: 3;
  width: 100%;
  left: 0;
  bottom: 0;
}

.not-front main {
  padding-bottom: 60px;
}

h1,
h2,
.page-homepage main a,
header a,
footer a {
  text-transform: uppercase;
  text-decoration: none;
}

.page-homepage main h1 {
  text-align: center;
  color: #fff;
  font-size: 32px;
  /*padding: 28px 10px 0 10px;*/
  padding: 0;
  margin: 0;
  width: 100%;
  overflow: hidden;
  height: 46px;
  border-top: 26px solid #fff;
}

.page-homepage main h1::before {
  content: ' ';
  display: block;
  width: 0;
  height: 0;
  border-left: 36px solid transparent;
  border-right: 36px solid transparent;
  border-top: 20px solid #fff;
  margin: 0 auto;
}

/* serate nights */
.nights {
  padding-top: 30px;
  text-align: center;
}

.nights a {
  text-transform: uppercase;
  text-decoration: none;
  color: #161616;
}

.nights .item {
  background: #ffffff;
  width: 298px;
  padding: 15px;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  /*margin: 0 16px 16px 0;*/
  margin: 0 0 4px 0;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 25px;
}

.nights .item img {
  width: 100%;
  margin-bottom: 10px;
}

.nights .item b {
  display: block;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 25px;
  line-height: 25px;
}

.nights .item b::after {
  content: '\2192';
  display: block;
  float: right;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  width: 19px;
  height: 25px;
  overflow: hidden;
  line-height: 25px;
  text-indent: 30px;
  background: transparent url("../img/arrow_small.png") 0 center no-repeat;
}

@media screen and (max-width: 623px) {
  .nights .item {
    width: 95%;
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
  }
}

.slider {
  overflow: hidden;
  position: relative;
  z-index: 1;
  width: 100%;
}

.slider .item {
  overflow: hidden;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  position: relative;
  z-index: 2;
  left: 0;
  top: 0;
}

.slider nav {
  position: absolute;
  z-index: 33;
  bottom: 20px;
  left: 0;
  width: 100%;
  text-align: center;
}

.slider nav a {
  display: inline-block;
  margin: 5px;
  width: 15px;
  height: 15px;
  line-height: 15px;
  overflow: hidden;
  text-indent: 20px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 100%;
}

.slider nav a.active {
  background: #fff;
}

/* il locale rooms */
.custom-box {
  padding-top: 30px;
}

.custom-box-content {
  background: #fff;
  padding: 16px;
}

.box-top .txt {
  background: #e8e8e8 url("../img/pattern-grey.png") 0 0 repeat;
  color: #161616;
  padding: 28px;
}

.box-top .txt h1 {
  color: #161616;
  text-transform: uppercase;
  font-size: 25px;
}

.box-top .txt p {
  font-size: 15px;
  color: #666;
}

@media screen and (min-width: 1248px) {
  .box-top .slider {
    width: 840px;
    float: left;
  }
  .txt {
    float: left;
    width: calc(100% - 840px);
    height: 472px;
  }
}

.box-bottom .item {
  float: left;
}

.box-bottom .item a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 28px;
  position: relative;
}

.box-bottom .item a b {
  display: block;
  padding: 0 15px;
  width: 100%;
  color: #fff;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 28px;
  position: absolute;
  z-index: 3;
  left: 0;
  bottom: 16px;
}

.box-bottom .item a b::after {
  content: '\2192';
  display: block;
  float: right;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  width: 19px;
  height: 25px;
  overflow: hidden;
  line-height: 25px;
  text-indent: 30px;
  background: transparent url("../img/arrow_small-white.png") 0 center no-repeat;
}

/*
.box-bottom-4,*/
.box-bottom-gallery .item {
  width: 300px;
}

.box-bottom-gallery .item + .item {
  width: 316px;
  padding-left: 16px;
}

@media screen and (max-width: 623px) {
  /*.box-bottom-4,*/
  .box-bottom-gallery img {
    width: 100%;
  }
  .box-bottom-gallery .custom-box-content {
    width: 95%;
    max-width: 540px;
    margin: 0 auto;
  }
  .box-bottom-gallery .item,
  .box-bottom-gallery .item + .item {
    padding-left: 0;
    width: 100%;
  }
  .box-bottom-gallery .item:nth-child(4) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 624px) and (max-width: 1279px) {
  /*.box-bottom-4,*/
  .box-bottom-gallery .custom-box-content {
    width: 648px;
    margin: 0 auto;
  }
  .box-bottom-gallery .item:nth-child(2n) {
    padding-left: 16px;
  }
  .box-bottom-gallery .item:nth-child(2n+1) {
    padding-left: 0;
    width: 300px;
    clear: left;
    margin-bottom: 0;
  }
  .box-bottom-gallery .item:nth-child(3), .box-bottom-gallery .item:nth-child(4) {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 1279px) {
  /*.box-bottom-4,*/
  .box-bottom-gallery .item {
    margin-bottom: 16px;
  }
}

.box-bottom.box-bottom-gallery .item {
  margin-bottom: 16px;
}

.box-bottom.box-bottom-gallery .item img {
  width: 300px;
  height: 200px;
}

.box-bottom.box-bottom-gallery .item span {
  display: block;
  font-size: 12px;
  font-family: "Lato", sans-serif;
  position: absolute;
  z-index: 4;
  left: 15px;
  bottom: 46px;
}

.box-bottom.box-bottom-gallery .item b {
  padding: 0 15px;
  bottom: 12px;
}

.box-bottom.box-bottom-gallery .item:nth-child(4n+1) {
  width: 300px;
  padding-left: 0;
}

@media screen and (max-width: 623px) {
  .box-bottom.box-bottom-gallery .item,
  .box-bottom.box-bottom-gallery .item:nth-child(4n+1) {
    width: 100%;
  }
  .box-bottom.box-bottom-gallery .item img,
  .box-bottom.box-bottom-gallery .item:nth-child(4n+1) img {
    width: 100%;
    height: auto;
  }
}

.box-bottom-5 .item {
  width: 236px;
}

.box-bottom-5 .item + .item {
  width: 252px;
  padding-left: 16px;
}

@media screen and (max-width: 623px) {
  .box-bottom-5 img {
    width: 100%;
  }
  .box-bottom-5 .custom-box-content {
    max-width: 285px;
    margin: 0 auto;
  }
  .box-bottom-5 .item,
  .box-bottom-5 .item + .item {
    padding-left: 0;
    width: 252px;
  }
  .box-bottom-5 .item:nth-child(5) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 624px) and (max-width: 1279px) {
  .box-bottom-5 .custom-box-content {
    width: 772px;
    margin: 0 auto;
  }
  .box-bottom-5 .item {
    width: 252px;
  }
  .box-bottom-5 .item:nth-child(3n) {
    padding-left: 16px;
  }
  .box-bottom-5 .item:nth-child(3n+1) {
    padding-left: 0;
    width: 236px;
    clear: left;
    margin-bottom: 0;
  }
  .box-bottom-5 .item:nth-child(4), .box-bottom-5 .item:nth-child(5) {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 1279px) {
  .box-bottom-5 .item {
    margin-bottom: 16px;
  }
}

.load {
  background: #fff;
  padding-bottom: 16px;
}

.load-more {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #161616;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 42px;
  width: 114px;
  height: 42px;
  border: 2px solid #161616;
  margin: 0 auto;
}

.load-more::after {
  content: '\2192';
  display: inline-block;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  width: 5px;
  height: 19px;
  overflow: hidden;
  line-height: 19px;
  text-indent: 30px;
  background: transparent url("../img/arrow_small-down.png") 0 center no-repeat;
  position: relative;
  top: 3px;
  left: 4px;
}

/* contatti */
#map {
  width: 100%;
  height: 500px;
  position: relative;
}

#map h2,
#map p {
  margin: 0;
  padding: 0;
  text-transform: none;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  line-height: 18px;
}

#linkmap {
  display: block;
  text-decoration: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 999;
  left: 0;
  top: 0;
}

.txt-contatti {
  max-width: 528px;
  width: 95%;
  margin: 0 auto;
  padding: 32px 0;
}

.txt-contatti h1 {
  color: white;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.txt-contatti p {
  color: white;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 26px;
  font-weight: 300;
  text-align: center;
  line-height: 30px;
}

#contatti-form,
.page-user main form {
  width: 95%;
  max-width: 690px;
  margin: 30px auto;
  background: #fff;
  padding: 32px;
}

@media screen and (max-width: 623px) {
  #contatti-form,
  .page-user main form {
    width: 95%;
    max-width: 540px;
  }
}

.grippie {
  display: none;
}

textarea {
  resize: none;
}

.container-inline-date .form-item input, .container-inline-date .form-item select, .container-inline-date .form-item option {
  margin: 0;
}

.container-inline-date .form-item, .container-inline-date .form-item input {
  width: 100%;
}

.form-item,
.container-inline-date {
  margin: 0;
  padding: 2.5px 0;
  color: #464646;
}

.container-inline-date .form-item {
  margin: 0;
  padding: 0;
}

.form-item.form-type-select {
  padding-top: 0px;
  padding-bottom: 0;
  margin-top: 2.5px;
  margin-bottom: 2.5px;
}

.form-item.form-item-data-date {
  margin-top: 8px;
  margin-bottom: 8px;
}

input[type="text"],
input[type="password"],
textarea {
  color: #464646;
  background: #fff;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  padding: 10px 18px;
  border: 1px solid #b4b4b4;
  width: 100%;
}

input[type="text"],
input[type="password"] {
  height: 48px;
}

input[type="submit"] {
  display: block;
  width: 100%;
  height: 48px;
  background-color: #161616;
  border: 2px solid #464646;
  color: white;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 40px;
  text-transform: uppercase;
  margin: 10px 0;
}

#google_recaptcha_contatti_form {
  background-color: white;
  border: 2px solid #0d0d0d;
  float: right;
  margin: 10px 0;
}

/* calendar */
@media screen and (max-width: 623px) {
  .block-views {
    display: none;
  }
}

@media screen and (min-width: 624px) {
  .only-mobile {
    display: none;
  }
}

.block-views {
  margin-top: 32px;
}

.block-views .pager {
  margin: 0;
  padding: 0;
  position: relative;
  top: 18px;
}

.view .date-nav-wrapper .date-heading h3,
.view .date-nav-wrapper .date-heading a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 32px;
}

.calendar-calendar th,
.calendar-calendar th.days {
  text-transform: uppercase;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
}

@media screen and (max-width: 700px) {
  .calendar-calendar th,
  .calendar-calendar th.days {
    font-size: 1.8vw;
  }
}

.calendar-calendar td .inner div.calendar div, .calendar-calendar td .inner div.calendar div a,
.calendar-calendar .month-view .full td.single-day .inner div, .calendar-calendar .month-view .full td.single-day .inner div a, .calendar-calendar .month-view .full td.multi-day .inner div, .calendar-calendar .month-view .full td.multi-day .inner div a, .calendar-calendar .month-view .full td .inner div.calendar.monthview div, .calendar-calendar .month-view .full td .inner div.calendar.monthview div a, .calendar-calendar .week-view .full td.single-day .inner div, .calendar-calendar .week-view .full td.single-day .inner div a, .calendar-calendar .week-view .full td.multi-day .inner div, .calendar-calendar .week-view .full td.multi-day .inner div a, .calendar-calendar .week-view .full td .inner div.calendar.weekview div, .calendar-calendar .week-view .full td .inner div.calendar.weekview div a, .calendar-calendar .day-view .full td .inner div.view-item, .calendar-calendar .day-view .full td .inner div.calendar div, .calendar-calendar .day-view .full td .inner div.calendar div a {
  background: transparent;
  border-radius: 0;
  display: block;
  text-decoration: none;
}

.calendar-calendar td .inner div.calendar div .calendar-more, .calendar-calendar td .inner div.calendar div a .calendar-more,
.calendar-calendar .month-view .full td.single-day .inner div .calendar-more, .calendar-calendar .month-view .full td.single-day .inner div a .calendar-more, .calendar-calendar .month-view .full td.multi-day .inner div .calendar-more, .calendar-calendar .month-view .full td.multi-day .inner div a .calendar-more, .calendar-calendar .month-view .full td .inner div.calendar.monthview div .calendar-more, .calendar-calendar .month-view .full td .inner div.calendar.monthview div a .calendar-more, .calendar-calendar .week-view .full td.single-day .inner div .calendar-more, .calendar-calendar .week-view .full td.single-day .inner div a .calendar-more, .calendar-calendar .week-view .full td.multi-day .inner div .calendar-more, .calendar-calendar .week-view .full td.multi-day .inner div a .calendar-more, .calendar-calendar .week-view .full td .inner div.calendar.weekview div .calendar-more, .calendar-calendar .week-view .full td .inner div.calendar.weekview div a .calendar-more, .calendar-calendar .day-view .full td .inner div.view-item .calendar-more, .calendar-calendar .day-view .full td .inner div.calendar div .calendar-more, .calendar-calendar .day-view .full td .inner div.calendar div a .calendar-more {
  display: none;
}

.calendar-calendar .month-view .full td.single-day .inner div.views-field-title a {
  padding: 12px;
}

.calendar-calendar td .inner div.calendar div.cutoff {
  height: 0;
}

table td.mini, table th.mini, table.mini td.week {
  padding: 0;
}

.calendar-calendar .month-view .full td.date-box {
  padding-bottom: 0;
}

.calendar-calendar table.mini td.empty, .calendar-calendar .month-view .full td.date-box.empty,
.calendar-calendar .month-view .full td.single-day .calendar-empty, .calendar-calendar .month-view .full td.single-day.empty, .calendar-calendar .month-view .full td.date-box.empty {
  /*border: none;*/
  color: #161616;
  background-color: #919191;
}

.calendar-calendar table.mini td.empty .inner .calendar-empty, .calendar-calendar .month-view .full td.date-box.empty .inner .calendar-empty,
.calendar-calendar .month-view .full td.single-day .calendar-empty .inner .calendar-empty, .calendar-calendar .month-view .full td.single-day.empty .inner .calendar-empty, .calendar-calendar .month-view .full td.date-box.empty .inner .calendar-empty {
  background-color: #919191;
}

.calendar-calendar td.empty {
  border-color: #212121;
  color: #212121;
  background-color: #212121;
}

.calendar-calendar th.days {
  background-color: #464646;
  color: #fff;
  border: 14px solid #212121;
}

.calendar-calendar tr {
  margin: 0;
  padding: 0;
  border: none;
}

.calendar-calendar td {
  background-color: #fff;
  color: #161616;
  border: none;
}

.calendar-calendar .month-view .full td.single-day div.monthview, .calendar-calendar .week-view .full td.single-day div.weekview, .calendar-calendar .day-view .full td.single-day div.dayview {
  padding: 0;
  margin: 0;
}

.calendar-calendar .month-view .full td, .calendar-calendar .week-view .full td, .calendar-calendar .day-view td {
  padding: 0;
}

.calendar-calendar .month-view .full td.date-box.today, .calendar-calendar .month-view .full tr td.single-day.today {
  border: none;
}

.calendar-calendar td div {
  /*
  border: 7px solid #212121;
  height: 182px;
  */
}

.calendar-calendar td {
  border-left: 14px solid #212121;
  border-right: 14px solid #212121;
}

.calendar-calendar .month-view .full tr.single-day .no-entry,
.calendar-calendar .month-view .full tr td.single-day,
.calendar-calendar .month-view .full tr td.single-day.today {
  border-bottom: 14px solid #212121;
}

.calendar-calendar .month-view .full tr td.single-day a {
  padding: 5px;
}

.calendar-calendar .month-view .full tr.date-box {
  /*height: 168px;
  max-height: 168px;*/
  height: 36px;
  max-height: 36px;
}

.calendar-calendar .month-view .full tr.single-day .single-day.no-entry {
  padding-bottom: calc(9.5% - 30px);
}

.calendar-calendar .month-view .full td .inner div.day, .calendar-calendar .month-view .full td .inner div.day a {
  text-align: right;
  width: auto;
  padding: 10px 12px;
  line-height: 10px;
}

.calendar-calendar .calendar-empty {
  display: none;
}

.view-item-calendar a {
  display: block;
  color: #161616;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

.view .date-nav-wrapper .date-next,
.view .date-nav-wrapper .date-prev {
  list-style: none;
  margin: 0;
  padding: 0;
  background: #232323;
  border-radius: 0;
  width: 45%;
}

.view .date-nav-wrapper .date-next a,
.view .date-nav-wrapper .date-prev a {
  background: #232323;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
}

.view .date-nav-wrapper .date-next {
  text-align: left;
}

/* calendar giorno in evidenza */
.page-serate-lunedi td[headers="Lunedì"],
.page-serate-martedi td[headers="Martedì"],
.page-serate-mercoledi td[headers="Mercoledì"],
.page-serate-giovedi td[headers="Giovedì"],
.page-serate-venerdi td[headers="Venerdì"],
.page-serate-sabato td[headers="Sabato"],
.page-serate-domenica td[headers="Domenica"] {
  background-color: #d2ff00;
}

/* dettaglio serata */
.night {
  padding-top: 24px;
}

.night .col-l {
  background: #fff;
  color: #161616;
}

.night .col-l h2,
.night .col-l h1 {
  color: #161616;
  text-transform: uppercase;
}

.night .col-l h2 {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.night .col-l h1 {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 30px;
}

.night .col-l .col-l-bottom {
  padding: 32px;
}

.night .col-r {
  background: transparent;
  color: #fff;
}

.night .col-r h2 {
  background-color: #464646;
  padding: 16px 18px;
  color: #fff;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 28px;
  margin-bottom: 8px;
}

.night .related .item {
  background: #fff;
  color: #161616;
  width: 100%;
  margin-bottom: 8px;
}

.night .related img {
  width: 62px;
  height: 62px;
  float: left;
}

.night .related a, .night .related span {
  display: block;
  text-decoration: none;
  background: #fff;
  color: #161616;
  text-transform: uppercase;
  float: left;
}

.night .related a {
  padding: 8px;
}

.night .related span {
  width: 200px;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  padding: 8px;
}

.night .related b {
  display: block;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 25px;
}

.night .box-related-gallery.custom-box {
  padding-top: 0;
  width: 297px;
}

.night .box-related-gallery.custom-box span {
  display: block;
  font-size: 12px;
  font-family: "Lato", sans-serif;
  position: absolute;
  z-index: 4;
  left: 15px;
  bottom: 46px;
}

.night .box-related-gallery.custom-box b {
  padding: 0 15px;
  bottom: 12px;
}

.prev-next {
  margin: 32px 0;
}

.prev-next a {
  display: block;
  text-decoration: none;
  min-width: 138px;
  height: 42px;
  line-height: 38px;
  border: 2px solid #161616;
  text-align: center;
  color: #161616;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 10px;
}

.prev-next .prev {
  float: left;
}

.prev-next .next {
  float: right;
}

.prev-next .prev::before {
  content: '\2190';
  display: inline-block;
  margin-right: 12px;
  font-weight: 400;
  font-family: 'Lucida Grande', Lucida Sans Unicode, Lucida Sans, Geneva, Verdana, Arial, sans-serif;
}

.prev-next .next::after {
  content: '\2192';
  display: inline-block;
  margin-left: 12px;
  font-weight: 400;
  font-family: 'Lucida Grande', Lucida Sans Unicode, Lucida Sans, Geneva, Verdana, Arial, sans-serif;
}

/* content body */
.bodytxt {
  background: #fff;
  color: #666;
}

.bodytxt * {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #666;
}

.bodytxt a {
  color: #598cff;
}

.bodytxt .menuitem {
  margin: 12px 0;
  width: 100%;
}

.bodytxt .menuitem table {
  margin: 0 0;
  width: 100%;
}

.bodytxt .menuitem h2 {
  color: #161616;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 25px;
  font-weight: 400;
}

.bodytxt .menuitem .nome {
  color: #666;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.bodytxt .menuitem .prezzo {
  width: 60px;
  color: #161616;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

/* social sharing */
.share p {
  text-transform: uppercase;
  color: black;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.share a {
  display: inline-block;
  text-decoration: none;
  overflow: hidden;
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-indent: 30px;
  margin-right: 12px;
}

.share .Facebook {
  background: transparent url("../img/social-facebook-circle-128.png") center center no-repeat;
}

.share .Twitter {
  background: transparent url("../img/social-twitter-circle-128.png") center center no-repeat;
}

.share .GPlus {
  background: transparent url("../img/social-circle-google-plus-2-128.png") center center no-repeat;
}

/* bottoni prenota iscriviti */


@media screen and (min-width: 1280px) {
  .night .col-l {
    float: left;
    width: 953px;
  }
  .night .col-l-large {
    width: 100%;
  }
  .night .col-r {
    float: right;
    width: 297px;
  }
}

/* gallery dettaglio */
.gallery-top {
  background: #fff url("../img/gallery-dettaglio.jpg") center 0 no-repeat;
  background-size: auto 600px;
}

.gallery-top .galleria {
  height: 600px;
  width: 100%;
  max-width: 1250px;
  box-sizing: content-box;
  margin: 0 auto;
}

.gallery-dettaglio-txt {
  color: #161616;
  background: #fff;
  padding: 32px 0;
}

.gallery-dettaglio-txt h2 {
  color: #161616;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
}

.gallery-dettaglio-txt h1 {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 30px;
}

@media screen and (max-width: 1280px) {
  .gallery-dettaglio-txt {
    width: 95%;
    max-width: 1270px;
    margin-left: auto;
    margin-right: auto;
  }
}

.gallery-bottom {
  padding-top: 32px;
}

.gallery-bottom h2 {
  color: white;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

/* locale dettaglio */
.page-node main,
.page-ristorante-ristorante main,
.page-ristorante-aperitivo main,
.page-ristorante-cena main,
.page-ristorante-alla-carta main,
.page-the-beach-main-room main,
.page-the-beach-blackroom main,
.page-the-beach-ristorante main,
.page-the-beach-estivo main,
.page-ristorante-prenota-un-tavolo main,
.page-serate-iscriviti-alla-lista main {
  background: #fff;
}

.page-node article .top,
.page-ristorante-ristorante article .top,
.page-ristorante-aperitivo article .top,
.page-ristorante-cena article .top,
.page-ristorante-alla-carta article .top,
.page-the-beach-main-room article .top,
.page-the-beach-blackroom article .top,
.page-the-beach-ristorante article .top,
.page-the-beach-estivo article .top,
.page-ristorante-prenota-un-tavolo article .top,
.page-serate-iscriviti-alla-lista article .top {
  margin-bottom: 16px;
}

.page-node article .bottom,
.page-ristorante-ristorante article .bottom,
.page-ristorante-aperitivo article .bottom,
.page-ristorante-cena article .bottom,
.page-ristorante-alla-carta article .bottom,
.page-the-beach-main-room article .bottom,
.page-the-beach-blackroom article .bottom,
.page-the-beach-ristorante article .bottom,
.page-the-beach-estivo article .bottom,
.page-ristorante-prenota-un-tavolo article .bottom,
.page-serate-iscriviti-alla-lista article .bottom {
  background: #fff;
}

.page-node article .bottom h1,
.page-ristorante-ristorante article .bottom h1,
.page-ristorante-aperitivo article .bottom h1,
.page-ristorante-cena article .bottom h1,
.page-ristorante-alla-carta article .bottom h1,
.page-the-beach-main-room article .bottom h1,
.page-the-beach-blackroom article .bottom h1,
.page-the-beach-ristorante article .bottom h1,
.page-the-beach-estivo article .bottom h1,
.page-ristorante-prenota-un-tavolo article .bottom h1,
.page-serate-iscriviti-alla-lista article .bottom h1 {
  color: #161616;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.page-node article .bottom .related,
.page-ristorante-ristorante article .bottom .related,
.page-ristorante-aperitivo article .bottom .related,
.page-ristorante-cena article .bottom .related,
.page-ristorante-alla-carta article .bottom .related,
.page-the-beach-main-room article .bottom .related,
.page-the-beach-blackroom article .bottom .related,
.page-the-beach-ristorante article .bottom .related,
.page-the-beach-estivo article .bottom .related,
.page-ristorante-prenota-un-tavolo article .bottom .related,
.page-serate-iscriviti-alla-lista article .bottom .related {
  padding-top: 32px;
}

.page-node article .bottom .related img,
.page-ristorante-ristorante article .bottom .related img,
.page-ristorante-aperitivo article .bottom .related img,
.page-ristorante-cena article .bottom .related img,
.page-ristorante-alla-carta article .bottom .related img,
.page-the-beach-main-room article .bottom .related img,
.page-the-beach-blackroom article .bottom .related img,
.page-the-beach-ristorante article .bottom .related img,
.page-the-beach-estivo article .bottom .related img,
.page-ristorante-prenota-un-tavolo article .bottom .related img,
.page-serate-iscriviti-alla-lista article .bottom .related img {
  display: block;
  width: 100%;
}

.page-node article .bottom .related .item,
.page-ristorante-ristorante article .bottom .related .item,
.page-ristorante-aperitivo article .bottom .related .item,
.page-ristorante-cena article .bottom .related .item,
.page-ristorante-alla-carta article .bottom .related .item,
.page-the-beach-main-room article .bottom .related .item,
.page-the-beach-blackroom article .bottom .related .item,
.page-the-beach-ristorante article .bottom .related .item,
.page-the-beach-estivo article .bottom .related .item,
.page-ristorante-prenota-un-tavolo article .bottom .related .item,
.page-serate-iscriviti-alla-lista article .bottom .related .item {
  width: 237px;
  float: left;
  margin-bottom: 16px;
}

.page-node article .bottom .related .item + .item,
.page-ristorante-ristorante article .bottom .related .item + .item,
.page-ristorante-aperitivo article .bottom .related .item + .item,
.page-ristorante-cena article .bottom .related .item + .item,
.page-ristorante-alla-carta article .bottom .related .item + .item,
.page-the-beach-main-room article .bottom .related .item + .item,
.page-the-beach-blackroom article .bottom .related .item + .item,
.page-the-beach-ristorante article .bottom .related .item + .item,
.page-the-beach-estivo article .bottom .related .item + .item,
.page-ristorante-prenota-un-tavolo article .bottom .related .item + .item,
.page-serate-iscriviti-alla-lista article .bottom .related .item + .item {
  margin-left: 16px;
}

.page-node article .bottom .related a,
.page-ristorante-ristorante article .bottom .related a,
.page-ristorante-aperitivo article .bottom .related a,
.page-ristorante-cena article .bottom .related a,
.page-ristorante-alla-carta article .bottom .related a,
.page-the-beach-main-room article .bottom .related a,
.page-the-beach-blackroom article .bottom .related a,
.page-the-beach-ristorante article .bottom .related a,
.page-the-beach-estivo article .bottom .related a,
.page-ristorante-prenota-un-tavolo article .bottom .related a,
.page-serate-iscriviti-alla-lista article .bottom .related a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}

.page-node article .bottom .related a::before,
.page-ristorante-ristorante article .bottom .related a::before,
.page-ristorante-aperitivo article .bottom .related a::before,
.page-ristorante-cena article .bottom .related a::before,
.page-ristorante-alla-carta article .bottom .related a::before,
.page-the-beach-main-room article .bottom .related a::before,
.page-the-beach-blackroom article .bottom .related a::before,
.page-the-beach-ristorante article .bottom .related a::before,
.page-the-beach-estivo article .bottom .related a::before,
.page-ristorante-prenota-un-tavolo article .bottom .related a::before,
.page-serate-iscriviti-alla-lista article .bottom .related a::before {
  content: " ";
  display: none;
  position: absolute;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(22, 22, 22, 0.5) url("../img/zoom-in-128.png") center center no-repeat;
}

.page-node article .bottom .related .item:hover a::before, .page-node article .bottom .related a:active::before, .page-node article .bottom .related a:hover::before,
.page-ristorante-ristorante article .bottom .related .item:hover a::before,
.page-ristorante-ristorante article .bottom .related a:active::before,
.page-ristorante-ristorante article .bottom .related a:hover::before,
.page-ristorante-aperitivo article .bottom .related .item:hover a::before,
.page-ristorante-aperitivo article .bottom .related a:active::before,
.page-ristorante-aperitivo article .bottom .related a:hover::before,
.page-ristorante-cena article .bottom .related .item:hover a::before,
.page-ristorante-cena article .bottom .related a:active::before,
.page-ristorante-cena article .bottom .related a:hover::before,
.page-ristorante-alla-carta article .bottom .related .item:hover a::before,
.page-ristorante-alla-carta article .bottom .related a:active::before,
.page-ristorante-alla-carta article .bottom .related a:hover::before,
.page-the-beach-main-room article .bottom .related .item:hover a::before,
.page-the-beach-main-room article .bottom .related a:active::before,
.page-the-beach-main-room article .bottom .related a:hover::before,
.page-the-beach-blackroom article .bottom .related .item:hover a::before,
.page-the-beach-blackroom article .bottom .related a:active::before,
.page-the-beach-blackroom article .bottom .related a:hover::before,
.page-the-beach-ristorante article .bottom .related .item:hover a::before,
.page-the-beach-ristorante article .bottom .related a:active::before,
.page-the-beach-ristorante article .bottom .related a:hover::before,
.page-the-beach-estivo article .bottom .related .item:hover a::before,
.page-the-beach-estivo article .bottom .related a:active::before,
.page-the-beach-estivo article .bottom .related a:hover::before,
.page-ristorante-prenota-un-tavolo article .bottom .related .item:hover a::before,
.page-ristorante-prenota-un-tavolo article .bottom .related a:active::before,
.page-ristorante-prenota-un-tavolo article .bottom .related a:hover::before,
.page-serate-iscriviti-alla-lista article .bottom .related .item:hover a::before,
.page-serate-iscriviti-alla-lista article .bottom .related a:active::before,
.page-serate-iscriviti-alla-lista article .bottom .related a:hover::before {
  cursor: pointer;
  display: block;
}

.page-node article .bottom .col-r .item,
.page-ristorante-ristorante article .bottom .col-r .item,
.page-ristorante-aperitivo article .bottom .col-r .item,
.page-ristorante-cena article .bottom .col-r .item,
.page-ristorante-alla-carta article .bottom .col-r .item,
.page-the-beach-main-room article .bottom .col-r .item,
.page-the-beach-blackroom article .bottom .col-r .item,
.page-the-beach-ristorante article .bottom .col-r .item,
.page-the-beach-estivo article .bottom .col-r .item,
.page-ristorante-prenota-un-tavolo article .bottom .col-r .item,
.page-serate-iscriviti-alla-lista article .bottom .col-r .item {
  border: 5px solid #e8e8e8;
  margin-bottom: 36px;
}

@media screen and (max-width: 623px) {
  .page-node main,
  .page-ristorante-ristorante main,
  .page-ristorante-aperitivo main,
  .page-ristorante-cena main,
  .page-ristorante-alla-carta main,
  .page-the-beach-main-room main,
  .page-the-beach-blackroom main,
  .page-the-beach-ristorante main,
  .page-the-beach-estivo main,
  .page-ristorante-prenota-un-tavolo main,
  .page-serate-iscriviti-alla-lista main {
    background: #fff;
  }
  .page-node main .maxwidth,
  .page-ristorante-ristorante main .maxwidth,
  .page-ristorante-aperitivo main .maxwidth,
  .page-ristorante-cena main .maxwidth,
  .page-ristorante-alla-carta main .maxwidth,
  .page-the-beach-main-room main .maxwidth,
  .page-the-beach-blackroom main .maxwidth,
  .page-the-beach-ristorante main .maxwidth,
  .page-the-beach-estivo main .maxwidth,
  .page-ristorante-prenota-un-tavolo main .maxwidth,
  .page-serate-iscriviti-alla-lista main .maxwidth {
    width: 95%;
    max-width: 540px;
    margin: 0 auto;
  }
  .page-the-beach .box-top .custom-box-content,
  .page-ristorante .box-top .custom-box-content,
  .page-gallery .box-top .custom-box-content {
    padding-left: 0;
    padding-right: 0;
  }
  .page-the-beach .box-top .custom-box-content .slider,
  .page-the-beach .box-top .custom-box-content .txt,
  .page-ristorante .box-top .custom-box-content .slider,
  .page-ristorante .box-top .custom-box-content .txt,
  .page-gallery .box-top .custom-box-content .slider,
  .page-gallery .box-top .custom-box-content .txt {
    width: 95%;
    max-width: 540px;
    margin: 0 auto;
  }
}

form {
  color: #464646;
}

label,
.description {
  display: none;
}

#edit-privacy,#edit-marketing {
  vertical-align: top;
}

#edit-privacy input,
#edit-privacy label,
#edit-marketing input,
#edit-marketing label {
  display: inline-block;
  max-width: 95%;
  vertical-align: top;
  line-height: 20px;
  font-size: 14px;
}

#edit-privacy input,
#edit-marketing input{
  position: relative;
  top: 5px;
}

#edit-privacy .form-item-privacy-1,
#edit-marketing .form-item-privacy-1 {
  width: 100%;
}

.container-inline-date .date-padding {
  padding: 0;
}

.consenso {
  position: relative;
  top: 15px;
}

@media screen and (max-width: 623px) {
  .page-node article .bottom .related,
  .page-ristorante-prenota-un-tavolo article .bottom .related,
  .page-serate-iscriviti-alla-lista article .bottom .related,
  .page-ristorante-ristorante article .bottom .related,
  .page-ristorante-aperitivo article .bottom .related,
  .page-ristorante-cena article .bottom .related,
  .page-ristorante-alla-carta article .bottom .related,
  .page-the-beach-main-room article .bottom .related,
  .page-the-beach-blackroom article .bottom .related,
  .page-the-beach-ristorante article .bottom .related,
  .page-the-beach-estivo article .bottom .related {
    max-width: 237px;
    margin: 0 auto;
  }
  .page-node article .bottom .related .item + .item,
  .page-ristorante-prenota-un-tavolo article .bottom .related .item + .item,
  .page-serate-iscriviti-alla-lista article .bottom .related .item + .item,
  .page-ristorante-ristorante article .bottom .related .item + .item,
  .page-ristorante-aperitivo article .bottom .related .item + .item,
  .page-ristorante-cena article .bottom .related .item + .item,
  .page-ristorante-alla-carta article .bottom .related .item + .item,
  .page-the-beach-main-room article .bottom .related .item + .item,
  .page-the-beach-blackroom article .bottom .related .item + .item,
  .page-the-beach-ristorante article .bottom .related .item + .item,
  .page-the-beach-estivo article .bottom .related .item + .item {
    margin-left: 0;
  }
  .page-node .col-r img,
  .page-ristorante-prenota-un-tavolo .col-r img,
  .page-serate-iscriviti-alla-lista .col-r img,
  .page-ristorante-ristorante .col-r img,
  .page-ristorante-aperitivo .col-r img,
  .page-ristorante-cena .col-r img,
  .page-ristorante-alla-carta .col-r img,
  .page-the-beach-main-room .col-r img,
  .page-the-beach-blackroom .col-r img,
  .page-the-beach-ristorante .col-r img,
  .page-the-beach-estivo .col-r img {
    width: 100%;
  }
}

@media screen and (min-width: 624px) and (max-width: 1279px) {
  .page-node article .bottom .related,
  .page-ristorante-ristorante article .bottom .related,
  .page-ristorante-aperitivo article .bottom .related,
  .page-ristorante-cena article .bottom .related,
  .page-ristorante-alla-carta article .bottom .related,
  .page-the-beach-main-room article .bottom .related,
  .page-the-beach-blackroom article .bottom .related,
  .page-the-beach-ristorante article .bottom .related,
  .page-the-beach-estivo article .bottom .related,
  .page-ristorante-prenota-un-tavolo article .bottom .related,
  .page-serate-iscriviti-alla-lista article .bottom .related {
    width: 772px;
    margin: 0 auto;
  }
  .page-node article .bottom .related .item:nth-child(3n+1),
  .page-ristorante-ristorante article .bottom .related .item:nth-child(3n+1),
  .page-ristorante-aperitivo article .bottom .related .item:nth-child(3n+1),
  .page-ristorante-cena article .bottom .related .item:nth-child(3n+1),
  .page-ristorante-alla-carta article .bottom .related .item:nth-child(3n+1),
  .page-the-beach-main-room article .bottom .related .item:nth-child(3n+1),
  .page-the-beach-blackroom article .bottom .related .item:nth-child(3n+1),
  .page-the-beach-ristorante article .bottom .related .item:nth-child(3n+1),
  .page-the-beach-estivo article .bottom .related .item:nth-child(3n+1),
  .page-ristorante-prenota-un-tavolo article .bottom .related .item:nth-child(3n+1),
  .page-serate-iscriviti-alla-lista article .bottom .related .item:nth-child(3n+1) {
    margin-left: 0;
    clear: left;
  }
  .page-node .col-r,
  .page-ristorante-ristorante .col-r,
  .page-ristorante-aperitivo .col-r,
  .page-ristorante-cena .col-r,
  .page-ristorante-alla-carta .col-r,
  .page-the-beach-main-room .col-r,
  .page-the-beach-blackroom .col-r,
  .page-the-beach-ristorante .col-r,
  .page-the-beach-estivo .col-r,
  .page-ristorante-prenota-un-tavolo .col-r,
  .page-serate-iscriviti-alla-lista .col-r {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .page-node article .bottom .related .item,
  .page-ristorante-ristorante article .bottom .related .item,
  .page-ristorante-aperitivo article .bottom .related .item,
  .page-ristorante-cena article .bottom .related .item,
  .page-ristorante-alla-carta article .bottom .related .item,
  .page-the-beach-main-room article .bottom .related .item,
  .page-the-beach-blackroom article .bottom .related .item,
  .page-the-beach-ristorante article .bottom .related .item,
  .page-the-beach-estivo article .bottom .related .item,
  .page-ristorante-prenota-un-tavolo article .bottom .related .item,
  .page-serate-iscriviti-alla-lista article .bottom .related .item {
    margin-bottom: 0;
  }
  .page-node article .bottom .col-l,
  .page-ristorante-ristorante article .bottom .col-l,
  .page-ristorante-aperitivo article .bottom .col-l,
  .page-ristorante-cena article .bottom .col-l,
  .page-ristorante-alla-carta article .bottom .col-l,
  .page-the-beach-main-room article .bottom .col-l,
  .page-the-beach-blackroom article .bottom .col-l,
  .page-the-beach-ristorante article .bottom .col-l,
  .page-the-beach-estivo article .bottom .col-l,
  .page-ristorante-prenota-un-tavolo article .bottom .col-l,
  .page-serate-iscriviti-alla-lista article .bottom .col-l {
    width: 740px;
    float: left;
  }
  .page-node article .bottom .col-l .form-item,
  .page-node article .bottom .col-l .container-inline-date,
  .page-ristorante-ristorante article .bottom .col-l .form-item,
  .page-ristorante-ristorante article .bottom .col-l .container-inline-date,
  .page-ristorante-aperitivo article .bottom .col-l .form-item,
  .page-ristorante-aperitivo article .bottom .col-l .container-inline-date,
  .page-ristorante-cena article .bottom .col-l .form-item,
  .page-ristorante-cena article .bottom .col-l .container-inline-date,
  .page-ristorante-alla-carta article .bottom .col-l .form-item,
  .page-ristorante-alla-carta article .bottom .col-l .container-inline-date,
  .page-the-beach-main-room article .bottom .col-l .form-item,
  .page-the-beach-main-room article .bottom .col-l .container-inline-date,
  .page-the-beach-blackroom article .bottom .col-l .form-item,
  .page-the-beach-blackroom article .bottom .col-l .container-inline-date,
  .page-the-beach-ristorante article .bottom .col-l .form-item,
  .page-the-beach-ristorante article .bottom .col-l .container-inline-date,
  .page-the-beach-estivo article .bottom .col-l .form-item,
  .page-the-beach-estivo article .bottom .col-l .container-inline-date,
  .page-ristorante-prenota-un-tavolo article .bottom .col-l .form-item,
  .page-ristorante-prenota-un-tavolo article .bottom .col-l .container-inline-date,
  .page-serate-iscriviti-alla-lista article .bottom .col-l .form-item,
  .page-serate-iscriviti-alla-lista article .bottom .col-l .container-inline-date {
    vertical-align: top;
    margin-right: 2%;
  }
  .page-node article .bottom .col-l .form-item-numero-persone,
  .page-node article .bottom .col-l .form-item-tipologia,
  .page-ristorante-ristorante article .bottom .col-l .form-item-numero-persone,
  .page-ristorante-ristorante article .bottom .col-l .form-item-tipologia,
  .page-ristorante-aperitivo article .bottom .col-l .form-item-numero-persone,
  .page-ristorante-aperitivo article .bottom .col-l .form-item-tipologia,
  .page-ristorante-cena article .bottom .col-l .form-item-numero-persone,
  .page-ristorante-cena article .bottom .col-l .form-item-tipologia,
  .page-ristorante-alla-carta article .bottom .col-l .form-item-numero-persone,
  .page-ristorante-alla-carta article .bottom .col-l .form-item-tipologia,
  .page-the-beach-main-room article .bottom .col-l .form-item-numero-persone,
  .page-the-beach-main-room article .bottom .col-l .form-item-tipologia,
  .page-the-beach-blackroom article .bottom .col-l .form-item-numero-persone,
  .page-the-beach-blackroom article .bottom .col-l .form-item-tipologia,
  .page-the-beach-ristorante article .bottom .col-l .form-item-numero-persone,
  .page-the-beach-ristorante article .bottom .col-l .form-item-tipologia,
  .page-the-beach-estivo article .bottom .col-l .form-item-numero-persone,
  .page-the-beach-estivo article .bottom .col-l .form-item-tipologia,
  .page-ristorante-prenota-un-tavolo article .bottom .col-l .form-item-numero-persone,
  .page-ristorante-prenota-un-tavolo article .bottom .col-l .form-item-tipologia,
  .page-serate-iscriviti-alla-lista article .bottom .col-l .form-item-numero-persone,
  .page-serate-iscriviti-alla-lista article .bottom .col-l .form-item-tipologia {
    display: block;
  }
  .page-node article .bottom .col-l .container-inline-date .form-item,
  .page-ristorante-ristorante article .bottom .col-l .container-inline-date .form-item,
  .page-ristorante-aperitivo article .bottom .col-l .container-inline-date .form-item,
  .page-ristorante-cena article .bottom .col-l .container-inline-date .form-item,
  .page-ristorante-alla-carta article .bottom .col-l .container-inline-date .form-item,
  .page-the-beach-main-room article .bottom .col-l .container-inline-date .form-item,
  .page-the-beach-blackroom article .bottom .col-l .container-inline-date .form-item,
  .page-the-beach-ristorante article .bottom .col-l .container-inline-date .form-item,
  .page-the-beach-estivo article .bottom .col-l .container-inline-date .form-item,
  .page-ristorante-prenota-un-tavolo article .bottom .col-l .container-inline-date .form-item,
  .page-serate-iscriviti-alla-lista article .bottom .col-l .container-inline-date .form-item {
    padding: 0;
    margin: 0;
  }
  .page-node article .bottom .col-l .form-item-nome,
  .page-node article .bottom .col-l .form-item-cognome,
  .page-node article .bottom .col-l .form-item-email,
  .page-node article .bottom .col-l .form-item-cellulare,
  .page-node article .bottom .col-l .form-item-tipologia,
  .page-ristorante-ristorante article .bottom .col-l .form-item-nome,
  .page-ristorante-ristorante article .bottom .col-l .form-item-cognome,
  .page-ristorante-ristorante article .bottom .col-l .form-item-email,
  .page-ristorante-ristorante article .bottom .col-l .form-item-cellulare,
  .page-ristorante-ristorante article .bottom .col-l .form-item-tipologia,
  .page-ristorante-aperitivo article .bottom .col-l .form-item-nome,
  .page-ristorante-aperitivo article .bottom .col-l .form-item-cognome,
  .page-ristorante-aperitivo article .bottom .col-l .form-item-email,
  .page-ristorante-aperitivo article .bottom .col-l .form-item-cellulare,
  .page-ristorante-aperitivo article .bottom .col-l .form-item-tipologia,
  .page-ristorante-cena article .bottom .col-l .form-item-nome,
  .page-ristorante-cena article .bottom .col-l .form-item-cognome,
  .page-ristorante-cena article .bottom .col-l .form-item-email,
  .page-ristorante-cena article .bottom .col-l .form-item-cellulare,
  .page-ristorante-cena article .bottom .col-l .form-item-tipologia,
  .page-ristorante-alla-carta article .bottom .col-l .form-item-nome,
  .page-ristorante-alla-carta article .bottom .col-l .form-item-cognome,
  .page-ristorante-alla-carta article .bottom .col-l .form-item-email,
  .page-ristorante-alla-carta article .bottom .col-l .form-item-cellulare,
  .page-ristorante-alla-carta article .bottom .col-l .form-item-tipologia,
  .page-the-beach-main-room article .bottom .col-l .form-item-nome,
  .page-the-beach-main-room article .bottom .col-l .form-item-cognome,
  .page-the-beach-main-room article .bottom .col-l .form-item-email,
  .page-the-beach-main-room article .bottom .col-l .form-item-cellulare,
  .page-the-beach-main-room article .bottom .col-l .form-item-tipologia,
  .page-the-beach-blackroom article .bottom .col-l .form-item-nome,
  .page-the-beach-blackroom article .bottom .col-l .form-item-cognome,
  .page-the-beach-blackroom article .bottom .col-l .form-item-email,
  .page-the-beach-blackroom article .bottom .col-l .form-item-cellulare,
  .page-the-beach-blackroom article .bottom .col-l .form-item-tipologia,
  .page-the-beach-ristorante article .bottom .col-l .form-item-nome,
  .page-the-beach-ristorante article .bottom .col-l .form-item-cognome,
  .page-the-beach-ristorante article .bottom .col-l .form-item-email,
  .page-the-beach-ristorante article .bottom .col-l .form-item-cellulare,
  .page-the-beach-ristorante article .bottom .col-l .form-item-tipologia,
  .page-the-beach-estivo article .bottom .col-l .form-item-nome,
  .page-the-beach-estivo article .bottom .col-l .form-item-cognome,
  .page-the-beach-estivo article .bottom .col-l .form-item-email,
  .page-the-beach-estivo article .bottom .col-l .form-item-cellulare,
  .page-the-beach-estivo article .bottom .col-l .form-item-tipologia,
  .page-ristorante-prenota-un-tavolo article .bottom .col-l .form-item-nome,
  .page-ristorante-prenota-un-tavolo article .bottom .col-l .form-item-cognome,
  .page-ristorante-prenota-un-tavolo article .bottom .col-l .form-item-email,
  .page-ristorante-prenota-un-tavolo article .bottom .col-l .form-item-cellulare,
  .page-ristorante-prenota-un-tavolo article .bottom .col-l .form-item-tipologia,
  .page-serate-iscriviti-alla-lista article .bottom .col-l .form-item-nome,
  .page-serate-iscriviti-alla-lista article .bottom .col-l .form-item-cognome,
  .page-serate-iscriviti-alla-lista article .bottom .col-l .form-item-email,
  .page-serate-iscriviti-alla-lista article .bottom .col-l .form-item-cellulare,
  .page-serate-iscriviti-alla-lista article .bottom .col-l .form-item-tipologia {
    display: inline-block;
    width: 47.6%;
  }
  .page-node article .bottom .col-l .container-inline-date,
  .page-node article .bottom .col-l .form-item-orario,
  .page-node article .bottom .col-l .form-item-numero-persone,
  .page-ristorante-ristorante article .bottom .col-l .container-inline-date,
  .page-ristorante-ristorante article .bottom .col-l .form-item-orario,
  .page-ristorante-ristorante article .bottom .col-l .form-item-numero-persone,
  .page-ristorante-aperitivo article .bottom .col-l .container-inline-date,
  .page-ristorante-aperitivo article .bottom .col-l .form-item-orario,
  .page-ristorante-aperitivo article .bottom .col-l .form-item-numero-persone,
  .page-ristorante-cena article .bottom .col-l .container-inline-date,
  .page-ristorante-cena article .bottom .col-l .form-item-orario,
  .page-ristorante-cena article .bottom .col-l .form-item-numero-persone,
  .page-ristorante-alla-carta article .bottom .col-l .container-inline-date,
  .page-ristorante-alla-carta article .bottom .col-l .form-item-orario,
  .page-ristorante-alla-carta article .bottom .col-l .form-item-numero-persone,
  .page-the-beach-main-room article .bottom .col-l .container-inline-date,
  .page-the-beach-main-room article .bottom .col-l .form-item-orario,
  .page-the-beach-main-room article .bottom .col-l .form-item-numero-persone,
  .page-the-beach-blackroom article .bottom .col-l .container-inline-date,
  .page-the-beach-blackroom article .bottom .col-l .form-item-orario,
  .page-the-beach-blackroom article .bottom .col-l .form-item-numero-persone,
  .page-the-beach-ristorante article .bottom .col-l .container-inline-date,
  .page-the-beach-ristorante article .bottom .col-l .form-item-orario,
  .page-the-beach-ristorante article .bottom .col-l .form-item-numero-persone,
  .page-the-beach-estivo article .bottom .col-l .container-inline-date,
  .page-the-beach-estivo article .bottom .col-l .form-item-orario,
  .page-the-beach-estivo article .bottom .col-l .form-item-numero-persone,
  .page-ristorante-prenota-un-tavolo article .bottom .col-l .container-inline-date,
  .page-ristorante-prenota-un-tavolo article .bottom .col-l .form-item-orario,
  .page-ristorante-prenota-un-tavolo article .bottom .col-l .form-item-numero-persone,
  .page-serate-iscriviti-alla-lista article .bottom .col-l .container-inline-date,
  .page-serate-iscriviti-alla-lista article .bottom .col-l .form-item-orario,
  .page-serate-iscriviti-alla-lista article .bottom .col-l .form-item-numero-persone {
    display: inline-block;
    width: 31%;
  }
  .page-node article .bottom .col-l .form-submit,
  .page-ristorante-ristorante article .bottom .col-l .form-submit,
  .page-ristorante-aperitivo article .bottom .col-l .form-submit,
  .page-ristorante-cena article .bottom .col-l .form-submit,
  .page-ristorante-alla-carta article .bottom .col-l .form-submit,
  .page-the-beach-main-room article .bottom .col-l .form-submit,
  .page-the-beach-blackroom article .bottom .col-l .form-submit,
  .page-the-beach-ristorante article .bottom .col-l .form-submit,
  .page-the-beach-estivo article .bottom .col-l .form-submit,
  .page-ristorante-prenota-un-tavolo article .bottom .col-l .form-submit,
  .page-serate-iscriviti-alla-lista article .bottom .col-l .form-submit {
    width: 355px;
    float: right;
    margin-right: 2%;
  }
  .page-node article .bottom .col-r,
  .page-ristorante-ristorante article .bottom .col-r,
  .page-ristorante-aperitivo article .bottom .col-r,
  .page-ristorante-cena article .bottom .col-r,
  .page-ristorante-alla-carta article .bottom .col-r,
  .page-the-beach-main-room article .bottom .col-r,
  .page-the-beach-blackroom article .bottom .col-r,
  .page-the-beach-ristorante article .bottom .col-r,
  .page-the-beach-estivo article .bottom .col-r,
  .page-ristorante-prenota-un-tavolo article .bottom .col-r,
  .page-serate-iscriviti-alla-lista article .bottom .col-r {
    width: calc(100% - 740px);
    max-width: 494px;
    float: right;
  }
}

.overlay {
  background: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 998;
}

.overlay .overlay-content {
  max-width: 853px;
  margin: 0 auto;
}

.overlay iframe {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  clear: both;
}

.overlay a.close {
  background: #fff;
  color: #000;
  display: block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  text-decoration: none;
  float: right;
}

form .errors {
  border: 1px solid #c00;
  padding: 10px 18px;
}

.form-checkbox.error,
.form-radio.error,
select.error {
  outline: 1px solid #c00;
  border: none;
}

.form-checkboxes {
  /*padding-left: 12px;*/
  padding-left: 0;
}

.form-checkboxes.error {
  border: 1px solid #c00;
  background: #fff;
}

.form-checkboxes.error .form-checkbox.error,
.form-checkboxes.error .form-radio.error,
.form-checkboxes.error select.error {
  outline: none;
}

.chosen-container.error {
  border: 1px solid #c00;
}

.chosen-container.error .chosen-drop {
  border: none;
}

/* select chosen */
select {
  display: block;
  width: 100%;
}

.chosen-container {
  border: 1px solid #b4b4b4;
}

.chosen-container-active.chosen-with-drop .chosen-single,
.chosen-container-single .chosen-single,
.chosen-container-active .chosen-single {
  border-radius: 0;
  box-shadow: none;
  background: #fff;
  height: 46px;
  border-color: #b4b4b4;
  border: none;
}

.chosen-container-active.chosen-with-drop .chosen-single .chosen-drop,
.chosen-container-single .chosen-single .chosen-drop,
.chosen-container-active .chosen-single .chosen-drop {
  margin: 0;
}

.chosen-container-single .chosen-single span,
.chosen-container-single .chosen-single div {
  padding-top: 10px;
  color: #464646;
  font-size: 18px;
  line-height: 22px;
}

.chosen-container-single .chosen-single span {
  padding-left: 8px;
  color: #999;
}

#google_recaptcha_contatti_form, #google_recaptcha_contatti_form *, #google_recaptcha_prenota_serata_form, #google_recaptcha_prenota_serata_form *, #google_recaptcha_prenota_tavolo_form, #google_recaptcha_prenota_tavolo_form *, #google_recaptcha_user_login, #google_recaptcha_user_login *, #google_recaptcha_user_pass, #google_recaptcha_user_pass * {
  max-width: 100%;
}

/* facebook connect */
.buttons {
  background: #f8f8f8;
}

.buttons p {
  color: #747474;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 25px;
  line-height: 34px;
  width: 388px;
  max-width: 100%;
  margin: 0px auto;
}

.buttons a {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 30px;
  display: block;
  width: 384px;
  max-width: 100%;
  height: 78px;
  line-height: 78px;
  margin: 10px auto;
  letter-spacing: 2px;
}

.buttons .facebook-connect {
  background: #4460a0 url("../img/facebook-connect.png") 12px center no-repeat;
}

.buttons .compila-form {
  background: #b4b4b4;
}

@media screen and (max-width: 400px) {
  .buttons {
    padding: 10px 5%;
  }
  .buttons a {
    font-size: 18px;
    height: 50px;
    line-height: 50px;
  }
  .buttons .facebook-connect {
    background-size: 12% auto;
  }
}

@media screen and (min-width: 400px) {
  .buttons {
    min-height: 486px;
    padding-top: 90px;
  }
}

/* nuove gallerie */
.new-gallery {
  background: #fff;
}

.new-gallery .filtra {
  padding: 13px 15px;
  border-bottom: 1px solid #ededed;
}

.new-gallery .filtra h2 {
  color: #000;
  display: inline-block;
  width: 180px;
  max-width: 95%;
  line-height: 38px;
  height: 38px;
  vertical-align: middle;
}

.new-gallery .filtra #filtra-per-categoria {
  display: inline-block;
  width: 282px;
  max-width: 95%;
}

.new-gallery .filtra .chosen-container-active.chosen-with-drop .chosen-single, .new-gallery .filtra .chosen-container-single .chosen-single, .new-gallery .filtra .chosen-container-active .chosen-single {
  height: 38px;
  border-color: #464646;
}

.new-gallery .filtra .chosen-container-single .chosen-single span, .new-gallery .filtra .chosen-container-single .chosen-single div {
  line-height: 18px;
}

.new-gallery .new-gallery-content .item {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 25px;
  float: left;
  width: 320px;
  padding: 15px;
  border: 1px solid #ededed;
}

.new-gallery .new-gallery-content a {
  text-transform: uppercase;
  text-decoration: none;
  color: #161616;
}

.new-gallery .new-gallery-content img {
  width: 100%;
}

.new-gallery .new-gallery-content b {
  display: block;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 25px;
  line-height: 25px;
}

@media screen and (max-width: 623px) {
  .new-gallery .filtra {
    width: 95%;
    max-width: 540px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
  }
  .new-gallery .new-gallery-content {
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-bottom: 16px;
  }
  .new-gallery .new-gallery-content .item {
    width: 100%;
  }
}

@media screen and (min-width: 624px) {
  .new-gallery .new-gallery-content .item {
    width: 320px;
    min-height: 275px;
  }
}

@media screen and (min-width: 624px) and (max-width: 960px) {
  .new-gallery .new-gallery-content {
    width: 640px;
    margin: 0 auto;
  }
  .new-gallery .new-gallery-content .item {
    width: 320px;
    min-height: 275px;
  }
}

@media screen and (min-width: 961px) and (max-width: 1279px) {
  .new-gallery .new-gallery-content {
    width: 960px;
    margin: 0 auto;
  }
  .new-gallery .new-gallery-content .item {
    width: 320px;
    min-height: 275px;
  }
}

@media screen and (min-width: 1280px) {
  .new-gallery .new-gallery-content .item {
    width: 320px;
    min-height: 275px;
  }
}

p a {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;
  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.box-bottom-4 .custom-box-content img {
  width: 100%;
}

@media screen and (max-width: 623px) {
  .box-bottom-4 .custom-box-content {
    background: transparent;
    padding: 0;
    text-align: center;
  }
  .box-bottom-4 .custom-box-content .item {
    text-align: left;
    width: 100%;
    display: block;
    margin: 4px 0;
    border: 16px solid #fff;
    float: none;
  }
  .box-bottom-4 .custom-box-content .item + .item {
    margin: 4px 0;
  }
}

@media screen and (min-width: 624px) and (max-width: 1247px) {
  .box-bottom-4 .custom-box-content {
    background: transparent;
    padding: 0;
    text-align: center;
  }
  .box-bottom-4 .custom-box-content .item {
    text-align: left;
    width: calc(50% - 4px);
    display: inline-block;
    margin: 0;
    border: 16px solid #fff;
    float: none;
  }
  .box-bottom-4 .custom-box-content .item + .item {
    margin: 0 1px;
  }
}

@media screen and (min-width: 1248px) {
  .box-bottom-4 .custom-box-content {
    background: transparent;
    padding: 0;
    text-align: center;
  }
  .box-bottom-4 .custom-box-content .item {
    text-align: left;
    width: calc(25% - 4px);
    display: inline-block;
    margin: 0;
    border: 16px solid #fff;
    float: none;
  }
  .box-bottom-4 .custom-box-content .item + .item {
    margin: 0 1px;
  }
}

.custom-overlay .overlay-content {
  margin-top: calc(50vh - 240px);
}

.custom-overlay .overlay-content img {
  margin: 0 auto;
  max-width: 100%;
  clear: both;
}

.iscriviti,.iscriviti:link,.iscriviti:active,.iscriviti:visited,.iscriviti:hover {
  display: block;
  text-decoration: none;
  width: 225px;
  height: 48px;
  background-color: #161616 !important;
  color: #fff;
  font-family: "Yanone Kaffeesatz",sans-serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
  text-align: center;
  margin: 24px 0;
  padding-top: 3px;
}
.whatsappbutton,.whatsappbutton:link,.whatsappbutton:active,.whatsappbutton:visited,.whatsappbutton:hover{
  display: block;
  text-decoration: none;
  width: 225px;
  height: 48px;

  font-family: "Yanone Kaffeesatz",sans-serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
  text-align: center;
  margin: 24px 0;


  color: #ffffff;

  background: #25d366 url("../img/whats.png") 18px center no-repeat !important;
  background-size: 20px auto !important;
  padding-left: 24px;

  padding-top: 3px;
}
.whatbut{
  color: #fff;
  text-decoration: none;
  display: block;
  width: 175px;
  height: 42px;
  line-height: 40px;
  border: 2px solid white;
  font-size: 25px;
  font-weight: 700;
  margin: 48px auto 10px auto;
  text-align: center;
}
.whatsappbutton-centered
,.whatsappbutton-centered:link
,.whatsappbutton-centered:active
,.whatsappbutton-centered:visited
,.whatsappbutton-centered:hover
{
  margin-left: auto;
  margin-right: auto;
}
.notuppercase{
  text-transform: none !important;
}
