body.front {
  background: #000;
}

@media screen and (max-width: 767px) {
  body.front {
    background: #000 url('../img/front.jpg') 0 0 no-repeat;
    background-size: cover;
  }
}


.cover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, .2) ;
  width: 100%;
  height: 100%;

  .hi {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;

    span {
      color: #ff0;
      cursor: pointer;
      text-decoration: underline;
    }

    em {

      font-style: normal;

      &.hidden {
        display: none;
      }

    }

    a {
      color: #fff;
      text-decoration: none;
      display: block;
      width: 175px;
      height: 42px;
      line-height: 40px;
      border: 2px solid white;
      font-size: 25px;
      font-weight: 700;
      margin: 48px auto 10px auto;
    }

  }
}

.tv {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  width: 100%;
  height: 100%;

  overflow: hidden;

  .screen {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;

    margin: auto;

    opacity: 0;
    transition: opacity .5s;

    &.active {
      opacity: 1;
    }

  }
}
