// @file
// The major stylesheet for this theme.
//
// We categorize our components by creating headings in this file. See the
// description on the style guide home page for more information.


// Colors and Sass
//
// Documentation for colors and Sass mixins and variables.
//
// Weight: -1
//
// Style guide: sass
@import 'init';

// Defaults
//
// These are the default base styles applied to HTML elements.
//
// Component classes can override these styles, but if no class applies a style
// to an HTML element, these styles will be the ones displayed.
//
// Style guide: base

// Ensure fonts get loaded first to minimize front-end performance impact.
@import 'base/fonts';
@import 'base/normalize';

// Layouts
//
// The layout styling for major parts of the page that are included with the
// theme. Note: some Panels layouts are included in other parts of the system
// and are not documented.
//
// Style guide: layouts
//@import 'layouts/layout-3col/layout-3col';
//@import 'layouts/layout-center/layout-center';
//@import 'layouts/layout-swap/layout-swap';

// Components
//
// Design components are reusable designs that can be applied using just the CSS
// class names specified in the component.
//
// Weight: 1
//
// Style guide: components

@import 'components/box/box';
@import 'components/clearfix/clearfix';
@import 'components/comment/comment';
@import 'components/divider/divider';
@import 'components/header/header';
@import 'components/hidden/hidden';
@import 'components/highlight-mark/highlight-mark';
@import 'components/inline-links/inline-links';
@import 'components/inline-sibling/inline-sibling';
@import 'components/messages/messages';
@import 'components/print-none/print-none';
@import 'components/responsive-video/responsive-video';
@import 'components/visually-hidden/visually-hidden';
//@import 'components/watermark/watermark';
//@import 'components/wireframe/wireframe';
@import 'components/youtube-background/youtube-background';

// Navigation
//
// Navigation components are specialized design components that are used for
// page navigation.
//
// Weight: 2
//
// Style guide: navigation

//@import 'navigation/breadcrumb/breadcrumb';
//@import 'navigation/more-link/more-link';
//@import 'navigation/nav-menu/nav-menu';
//@import 'navigation/navbar/navbar';
//@import 'navigation/pager/pager';
@import 'navigation/skip-link/skip-link';
@import 'navigation/tabs/tabs';

// Forms
//
// Form components are specialized design components that are applied to forms
// or form elements.
//
// Weight: 3
//
// Style guide: forms

@import 'forms/autocomplete/autocomplete';
@import 'forms/button/button';
@import 'forms/collapsible-fieldset/collapsible-fieldset';
@import 'forms/form-item/form-item';
@import 'forms/form-table/form-table';
@import 'forms/progress-bar/progress-bar';
@import 'forms/progress-throbber/progress-throbber';
@import 'forms/resizable-textarea/resizable-textarea';
@import 'forms/table-drag/table-drag';

/* eu cookie */
body #sliding-popup.sliding-popup-top{
  @extend %clearfix;

  background: rgba(0, 0, 0, .5);
  color: #c6c6c6;
  font-family: $lato;
  font-size: 14px;
  font-weight: 300;
  line-height: 15px;

  #popup-buttons button {
    appearance: none;
    background: #989898;
    border-radius: 12px;
    color: #fff;
    text-transform: uppercase;
    border: none;
    box-shadow: none;
    font-family: $lato;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    text-shadow: none;
  }


}

.krumo-root, .messages {
  max-width: 100%;
  overflow: hidden;
}

.krumo-root *, .messages * {
  white-space: nowrap;
  word-wrap: break-word;
  max-width: 100%;
}

h1, h2, h3 {
  font-family: $yanone;
  margin: 0;
  padding: 0;
}

p{
  margin: 0;
  padding: .3em 0;
}


.maxwidth,
.block-views {
  max-width: 1280px;
  margin: 0 auto;
}

.header .links .rimani {
  display: none;
}

/* footer come header */
.footer,
%footer {
  @extend %clearfix;

  // Wrapping link for logo.
  &__logo {
    float: left;
    margin: 0 10px 0 0;
    padding: 0;

    @include rtl() {
      float: right;
      margin: 0 0 0 10px;
    }
  }

  // Logo image.
  &__logo-image {
    vertical-align: bottom;
  }


  // Wrapper for any blocks placed in the header region.
  &__region {
    // Clear the logo.
    clear: both;
  }
}

.footer{

  border-top: 1px solid #d1d1d1;

  .header__logo {
    max-width: 140px;
  }
  .main-menu {
    .menu .menu {
      display: none;
    }
  }
}

.header .main-menu {
  font-family: $yanone;
  font-size: 22px;

  /* gallery */
  //.menu > .menu__item

}

@media screen and (max-width: 623px) {
  .header .maxwidth {

    .header__logo {
      display: block;
      width: 274px;
      max-width: 95%;
      padding: 20px;
      margin: 0 auto;
      float: none;
    }

    .main-menu {
      width: 95%;
      max-width: 540px;
      margin: 0 auto;

      li,
      a {
        display: block;
        text-decoration: none;
      }

      li {
        margin-bottom: 3px;
      }

      a {
        padding: 9px 14px;
        background: #161616;
        color: #fff;
      }

      a.active {
        background: #fff;
        color: #161616;
        border: 1px solid #161616;
      }

      .menu .menu {
        padding-top: 10px;

        li,
        a {
          background: #fff;
          color: #000;
        }
        li {
          border: 1px solid #e3e3e3;
        }
      }

      .open-close {
        overflow: hidden;
        width: 48px;
        height: 42px;
        line-height: 42px;
        text-indent: 50px;
        position: absolute;
        z-index: 3;
        top: 0;
        right: 0;
        background: #464646;
        color: #fff;
        padding: 0;

      }

      .open-close::before {
        display: block;
        font-size: 14px;
        text-align: center;
        padding: 12px;
        width: 100%;
        height: 100%;
        line-height: 24px;
        text-indent: 0;
        color: #fff;
        position: absolute;
        z-index: 4;
        left: 0;
        top: 0;
      }

      .is-expanded.is-close{
        .open-close::before {
          content:'\25BC';
        }
        .menu {
          display: none;
        }
      }

      .is-expanded.is-open{
        .open-close::before {
          content:'\25B6';
        }
        .menu {
          display: block;
        }
      }



    }

    .links {
      width: 95%;
      max-width: 448px;
      margin: 20px auto;
    }

  }

  .footer {
    .maxwidth {
      width: 95%;
      max-width: 540px;
      margin-left: auto;
      margin-right: auto;
    }
  }

}

@media screen and (min-width: 624px) {
  .header .maxwidth {
    position: relative;

    .header__logo {
      padding: 40px 25px 25px 0;

    }

    .links a.prevendite {
      margin-right: 0;
    }

    .main-menu {
      width: 65%;
      max-width:550px;
      position: absolute;
      z-index: 2;
      right: 0;
      top: 62px;

      ul {
        width: 100%;
      }

      li {
        float: left;
        padding: 0 4.54%;
      }

      li:last-child {
        padding-right:0;
      }

      .menu .menu {
        display: none;
        width: 216px;
        background: #161616;
        color: #d6d6d6;
        position: absolute;
        z-index: 98;
        left: 16px;
        top: 40px;

        li {
          margin: 0;
          padding: 14px 0;
        }

        li, a{
          display: block;
          text-decoration: none;
          float: none;
          background: #161616;
          color: #d6d6d6;
          width: 100%;
          height: auto;
        }

        a {
          border-left: 4px solid #161616;
          font-weight: 400;
          padding: 0 20px;
        }

        a:hover {
          color: #fff;
          border-left: 4px solid #fff;
        }

      }

      .menu .menu::before {
        content: ' ';
        display: block;
        position: absolute;
        z-index: 99;
        left: 24px;
        top: -9px;
        width: 0;
        height: 0;
        border-left: 9px solid transparent;
        border-right: 9px solid transparent;
        border-bottom: 9px solid black;
      }

      .menu .expanded:hover .menu {
        display: block;
      }

    }

    .links {
      /*width: 220px;*/
      width: 226px;
      text-align: right;
      position: absolute;
      z-index: 3;
      right: 0;
      top: 14px;
    }
  }
}
@media screen and (min-width: 624px) and (max-width: 840px) {
  .header .maxwidth .main-menu{
    padding-left: 2%;
    li {
      padding: 0 1% 0 3%;
    }
  }
}
@media screen and (min-width: 624px) and (max-width: 1279px) {
  .maxwidth {
    padding: 0 10px;
  }
}

.footer .main-menu {
  font-size: 12px;
}

.main-menu{

  ul,li{
    list-style: none;
    margin: 0;
    padding: 0;

  }

  a{
    color:#000;
    display: block;
  }

  .menu .is-expanded {
    position: relative;
  }

}

.header {
  overflow: visible;
  .main-menu{
    a{
      height: 42px;
    }
    .active-trail a{
      border-bottom: 5px solid #000;
    }
  }
}

.footer {
  .col, .links {
    float: left;
  }
  .links {
    width: 100%;
  }
  .col-links {
    max-width: 328px;
    min-width: 166px;
    padding-top: 30px;

    a{
      margin-bottom: 14px;
    }

    .prevendite,
    .rimani {
     /*margin-right: calc(100% - 158px);*/
     margin-right: calc(100% - 226px);
    }

  }
  .col-menu {
    max-width: 500px;
    min-width: 100px;
    padding: 30px 0;

    a {
      display: block;
      padding: 2px 0;
    }

  }
  .col-partner {
    max-width: 470px;
    min-width: 214px;
  }

}

@media screen and (max-width: 623px) {
  .footer {
    .col {
      padding: 12px 12px;
    }
  }
}

.post-footer {
  background: #000;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 28px;
  padding-left: 2.5%;
  padding-right: 2.5%;

  a {
    text-decoration: none;
    color: #fff;
  }
}

.front .post-footer {
  position: fixed;
  z-index: 3;
  width: 100%;
  left: 0;
  bottom: 0;
}

.not-front main {
  padding-bottom: 60px;
}

h1,
h2,
.page-homepage main a,
header a,
footer a {
  text-transform: uppercase;
  text-decoration: none;
}

.page-homepage main {
  h1 {
    text-align: center;
    color: #fff;
    font-size: 32px;
    /*padding: 28px 10px 0 10px;*/
    padding: 0;
    margin: 0;

    width: 100%;
    overflow: hidden;
    height: 46px;
    border-top: 26px solid #fff;

    &::before {
      content: ' ';
      display: block;

      width: 0;
      height: 0;
      border-left: 36px solid transparent;
      border-right: 36px solid transparent;

      border-top: 20px solid #fff;
      margin: 0 auto;

    }


  }
}

/* serate nights */

.nights {
  padding-top: 30px;
  text-align: center;

  a{
    text-transform: uppercase;
    text-decoration: none;
    color: #161616;
  }

  .item {
    background: #ffffff;
    width: 298px;
    padding: 15px;

    //float: left;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    /*margin: 0 16px 16px 0;*/
    margin: 0 0 4px 0;

    font-family: $lato;
    font-size: 12px;
    line-height: 25px;


    img {
      width: 100%;
      margin-bottom: 10px;
    }

    b {
      display: block;
      font-family: $yanone;
      font-size: 25px;
      line-height: 25px;
    }

    b::after {
      content: '\2192';
      display: block;
      float: right;
      font-family: $lato;
      font-weight: 400;
      width: 19px;
      height: 25px;
      overflow: hidden;
      line-height: 25px;
      text-indent: 30px;
      background: transparent url('../img/arrow_small.png') 0 center no-repeat;
    }

  }

}

@media screen and (max-width: 623px) {
  .nights {
    .item {
      width: 95%;
      max-width: 540px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}


.slider {
  overflow: hidden;
  position: relative;
  z-index: 1;
  width: 100%;
  .item {
    overflow: hidden;

    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    height: auto;

    position: relative;
    z-index: 2;
    left: 0;
    top: 0;

  }

  nav {
    position: absolute;
    z-index: 33;
    bottom: 20px;
    left: 0;
    width: 100%;
    text-align: center;

    a {
      display: inline-block;
      margin: 5px;
      width: 15px;
      height: 15px;
      line-height: 15px;
      overflow: hidden;
      text-indent: 20px;
      background: rgba(255, 255, 255, .2);
      border-radius: 100%;
    }

    a.active {
      background: #fff;
    }

  }

}

/* il locale rooms */

.custom-box{
  padding-top: 30px;
}

.custom-box-content {
  background: #fff;
  padding: 16px;
}

.box-top {

  .txt {
    background: #e8e8e8 url('../img/pattern-grey.png') 0 0 repeat;
    color: #161616;
    padding: 28px;

    h1 {
      color: #161616;
      text-transform: uppercase;
      font-size: 25px;
    }

    p {
      font-size: 15px;
      color: #666;
    }

  }
}


@media screen and (min-width: 1248px) {
  .box-top {
    .slider {
      width: 840px;
      float: left;
    }

  }
  .txt {
    float: left;
    width: calc(100% - 840px);
    height: 472px;
  }
}

.box-bottom {

  .item{
    float: left;

    a {
      display: block;
      text-decoration: none;
      text-transform: uppercase;
      color: #fff;
      font-family: $yanone;
      font-size: 28px;
      position: relative;

      b{
        display: block;
        padding: 0 15px;
        width: 100%;
        color: #fff;
        font-family: $yanone;
        font-size: 28px;
        position: absolute;
        z-index: 3;
        left: 0;
        bottom: 16px;
      }

      b::after {
        content: '\2192';
        display: block;
        float: right;
        font-family: $lato;
        font-weight: 400;
        width: 19px;
        height: 25px;
        overflow: hidden;
        line-height: 25px;
        text-indent: 30px;
        background: transparent url('../img/arrow_small-white.png') 0 center no-repeat;
      }

    }
  }


}

/*
.box-bottom-4,*/
.box-bottom-gallery
{
  .item {
    width: 300px;
  }
  .item + .item {
    width: 316px;
    padding-left: 16px;
  }
}



@media screen and (max-width: 623px) {
  /*.box-bottom-4,*/
  .box-bottom-gallery {

    img {
      width: 100%;
    }
    .custom-box-content {
      width: 95%;
      max-width: 540px;
      margin: 0 auto;
    }

    .item,
    .item + .item{
      padding-left: 0;
      width: 100%;
    }

    .item:nth-child(4) {
      margin-bottom: 0;
    }
  }
}

@media screen and (min-width: 624px) and (max-width: 1279px) {
  /*.box-bottom-4,*/
  .box-bottom-gallery {
    .custom-box-content{
      width: 648px;
      margin: 0 auto;
    }
    .item:nth-child(2n) {
      padding-left: 16px;
    }
    .item:nth-child(2n+1) {
      padding-left: 0;
      width: 300px;
      clear: left;
      margin-bottom: 0;
    }
    .item:nth-child(3),.item:nth-child(4) {
      margin-bottom: 0;
    }
  }
}

@media screen and (max-width: 1279px) {
  /*.box-bottom-4,*/
  .box-bottom-gallery
  {
    .item {
      margin-bottom: 16px;
    }
  }
}

.box-bottom.box-bottom-gallery
{

  .item {
    margin-bottom: 16px;

    img {
      width: 300px;
      height: 200px;
    }

    span {
      display: block;
      font-size: 12px;
      font-family: $lato;
      position: absolute;
      z-index: 4;
      left: 15px;
      bottom: 46px;
    }
    b {
      padding: 0 15px;
      bottom: 12px;
    }
  }

  .item:nth-child(4n+1){
    width: 300px;
    padding-left: 0;
  }
}
@media screen and (max-width: 623px) {
  .box-bottom.box-bottom-gallery {
    .item,
    .item:nth-child(4n+1) {
      width: 100%;

      img {
        width: 100%;
        height: auto;
      }

    }
  }
}

.box-bottom-5{
  .item {
    width: 236px;
  }
  .item + .item {
    width: 252px;
    padding-left: 16px;
  }
}


@media screen and (max-width: 623px) {

  .box-bottom-5 {

    img {
      width: 100%;
    }
    .custom-box-content {
      max-width: 285px;
      margin: 0 auto;
    }

    .item,
    .item + .item{
      padding-left: 0;
      width: 252px;
    }

    .item:nth-child(5) {
      margin-bottom: 0;
    }
  }
}

@media screen and (min-width: 624px) and (max-width: 1279px) {
  .box-bottom-5 {
    .custom-box-content{
      width: 772px;
      margin: 0 auto;
    }
    .item {
      width: 252px;
    }
    .item:nth-child(3n) {
      padding-left: 16px;
    }
    .item:nth-child(3n+1) {
      padding-left: 0;
      width: 236px;
      clear: left;
      margin-bottom: 0;
    }
    .item:nth-child(4),.item:nth-child(5) {
      margin-bottom: 0;
    }
  }
}

@media screen and (max-width: 1279px) {
  .box-bottom-5
  {
    .item {
      margin-bottom: 16px;
    }
  }
}

.load {
  background: #fff;
  padding-bottom: 16px;
}

.load-more {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #161616;
  font-family: $yanone;
  font-size: 20px;
  font-weight: 700;
  line-height: 42px;
  width: 114px;
  height: 42px;
  border: 2px solid #161616;
  margin: 0 auto;
}

.load-more::after {
  content: '\2192';
  display: inline-block;
  font-family: $lato;
  font-weight: 400;
  width: 5px;
  height: 19px;
  overflow: hidden;
  line-height: 19px;
  text-indent: 30px;
  background: transparent url('../img/arrow_small-down.png') 0 center no-repeat;
  position: relative;
  top: 3px;
  left: 4px;
}

/* contatti */

#map{
  width: 100%;
  height: 500px;
  position: relative;
  h2,
  p{
    margin: 0;
    padding: 0;
    text-transform: none;
    font-family: $lato;
    font-size: 15px;
    line-height: 18px;
  }
}

#linkmap {
  display: block;
  text-decoration: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 999;
  left: 0;
  top: 0;
}


.txt-contatti{
  max-width: 528px;
  width: 95%;
  margin: 0 auto;
  padding: 32px 0;

  h1{
    color: white;
    font-family: $yanone;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }

  p {
    color: white;
    font-family: $yanone;
    font-size: 26px;
    font-weight: 300;
    text-align: center;
    line-height: 30px;
  }

}

#contatti-form,
.page-user main form
{
  width: 95%;
  max-width: 690px;
  margin: 30px auto;
  background: #fff;
  padding: 32px;
}

@media screen and (max-width: 623px) {
  #contatti-form,
  .page-user main form {
    width: 95%;
    max-width: 540px;
  }
}

.grippie {display:none;}
textarea {resize:none;}

.container-inline-date .form-item input, .container-inline-date .form-item select, .container-inline-date .form-item option
{
  margin: 0;
}

.container-inline-date .form-item, .container-inline-date .form-item input{
  width: 100%;
}

.form-item,
.container-inline-date {
  margin: 0;
  padding: 2.5px 0;
  color: #464646;
}

.container-inline-date .form-item{
  margin: 0;
  padding: 0;
}

.form-item.form-type-select {
  padding-top: 0px;
  padding-bottom: 0;
  margin-top: 2.5px;
  margin-bottom: 2.5px;
}

.form-item.form-item-data-date {
  margin-top: 8px;
  margin-bottom: 8px;
}

input[type="text"],
input[type="password"],
textarea
{
  color: #464646;
  background: #fff;
  font-family: $lato;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  padding: 10px 18px;
  border: 1px solid #b4b4b4;
  width: 100%;
}

input[type="text"],
input[type="password"] {
  height: 48px;
}

input[type="submit"] {
  display: block;
  width: 100%;
  height: 48px;
  background-color: #161616;
  border: 2px solid #464646;
  color: white;
  font-family: $yanone;
  font-size: 25px;
  font-weight: 700;
  line-height: 40px;
  text-transform: uppercase;
  margin: 10px 0;
}

#google_recaptcha_contatti_form {
  background-color: white;
  border: 2px solid #0d0d0d;
  float: right;
  margin: 10px 0;
}

/* calendar */

@media screen and (max-width: 623px) {
  .block-views{
    display: none;
  }
}
@media screen and (min-width: 624px) {
  .only-mobile{
    display: none;
  }
}

.block-views{
  margin-top: 32px;

  .pager {
    margin: 0;
    padding: 0;
    position: relative;
    top: 18px;
  }

}

.view .date-nav-wrapper .date-heading {
  h3,
  a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: $yanone;
    font-size: 32px;
  }
}

.calendar-calendar th,
.calendar-calendar th.days {
  text-transform: uppercase;
  color: white;
  font-family: $lato;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
}

@media screen and (max-width: 700px) {
  .calendar-calendar th,
  .calendar-calendar th.days {
    font-size: 1.8vw;
  }
}

.calendar-calendar td .inner div.calendar div, .calendar-calendar td .inner div.calendar div a,
.calendar-calendar .month-view .full td.single-day .inner div, .calendar-calendar .month-view .full td.single-day .inner div a, .calendar-calendar .month-view .full td.multi-day .inner div, .calendar-calendar .month-view .full td.multi-day .inner div a, .calendar-calendar .month-view .full td .inner div.calendar.monthview div, .calendar-calendar .month-view .full td .inner div.calendar.monthview div a, .calendar-calendar .week-view .full td.single-day .inner div, .calendar-calendar .week-view .full td.single-day .inner div a, .calendar-calendar .week-view .full td.multi-day .inner div, .calendar-calendar .week-view .full td.multi-day .inner div a, .calendar-calendar .week-view .full td .inner div.calendar.weekview div, .calendar-calendar .week-view .full td .inner div.calendar.weekview div a, .calendar-calendar .day-view .full td .inner div.view-item, .calendar-calendar .day-view .full td .inner div.calendar div, .calendar-calendar .day-view .full td .inner div.calendar div a
{
  background: transparent;
  border-radius: 0;
  display: block;
  text-decoration: none;
  .calendar-more {
    display: none;
  }
}

.calendar-calendar .month-view .full td.single-day .inner div.views-field-title a {
  padding: 12px;
}

.calendar-calendar td .inner div.calendar div.cutoff {
  height: 0;
}

table td.mini, table th.mini, table.mini td.week{
  padding: 0;
}
.calendar-calendar .month-view .full td.date-box {
  padding-bottom: 0;
}
.calendar-calendar table.mini td.empty, .calendar-calendar .month-view .full td.date-box.empty,
.calendar-calendar .month-view .full td.single-day .calendar-empty, .calendar-calendar .month-view .full td.single-day.empty, .calendar-calendar .month-view .full td.date-box.empty {
  /*border: none;*/
  color: #161616;
  background-color: #919191;

  .inner .calendar-empty {
    background-color: #919191;
  }

}

.calendar-calendar td.empty {
  border-color: #212121;
  color: #212121;
  background-color: #212121;
}
.calendar-calendar th.days {
  background-color: #464646;
  color: #fff;
  border: 14px solid #212121;
}

.calendar-calendar tr{
  margin: 0;
  padding: 0;
  border: none;
}

.calendar-calendar td {
  background-color: #fff;
  color: #161616;
  border: none;
}

.calendar-calendar .month-view .full td.single-day div.monthview, .calendar-calendar .week-view .full td.single-day div.weekview, .calendar-calendar .day-view .full td.single-day div.dayview
{
  padding: 0;
  margin: 0;
}

.calendar-calendar .month-view .full td, .calendar-calendar .week-view .full td, .calendar-calendar .day-view td {
  padding: 0;
}

.calendar-calendar .month-view .full td.date-box.today, .calendar-calendar .month-view .full tr td.single-day.today {
  border: none;
}

.calendar-calendar td div {
  /*
  border: 7px solid #212121;
  height: 182px;
  */
}

.calendar-calendar td {
  border-left: 14px solid #212121;
  border-right: 14px solid #212121;
}

.calendar-calendar .month-view .full tr.single-day .no-entry,
.calendar-calendar .month-view .full tr td.single-day,
.calendar-calendar .month-view .full tr td.single-day.today{
  border-bottom: 14px solid #212121;
}

.calendar-calendar .month-view .full tr td.single-day a{
  padding: 5px;
}


.calendar-calendar .month-view .full tr.date-box {
  /*height: 168px;
  max-height: 168px;*/
  height: 36px;
  max-height: 36px;
}

.calendar-calendar .month-view .full tr.single-day{
  .single-day.no-entry{
    padding-bottom: calc(9.5% - 30px);
  }

}

.calendar-calendar .month-view .full td .inner div.day, .calendar-calendar .month-view .full td .inner div.day a
{
  text-align: right;
  width: auto;
  padding: 10px 12px;
  line-height: 10px;
}

.calendar-calendar .calendar-empty {
  display: none;
}

.view-item-calendar a{
  display: block;
  color: #161616;
  font-family: $yanone;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

.view .date-nav-wrapper {
  .date-next,
  .date-prev {
    list-style: none;
    margin: 0;
    padding: 0;
    background: #232323;
    border-radius: 0;
    width: 45%;

    a {
      background: #232323;
      color: white;
      font-family: $lato;
      font-size: 15px;
      font-weight: 400;
      text-transform: uppercase;
    }
  }

  .date-next {
    text-align: left;
  }
}


/* calendar giorno in evidenza */
.page-serate-lunedi td[headers="Lunedì"],
.page-serate-martedi td[headers="Martedì"],
.page-serate-mercoledi td[headers="Mercoledì"],
.page-serate-giovedi td[headers="Giovedì"],
.page-serate-venerdi td[headers="Venerdì"],
.page-serate-sabato td[headers="Sabato"],
.page-serate-domenica td[headers="Domenica"] {
  background-color: #d2ff00;
}

/* dettaglio serata */

.night {
  padding-top:24px;

  .col-l {
    background: #fff;
    color: #161616;

    h2,
    h1 {
      color: #161616;
      text-transform: uppercase;
    }
    h2 {
      font-family: $lato;
      font-size: 14px;
      font-weight: 400;
    }
    h1 {
      font-family: $yanone;
      font-size: 30px;
    }

    .col-l-bottom {
      padding: 32px;
    }

  }
  .col-r {
    background: transparent;
    color: #fff;

    h2 {
      background-color: #464646;
      padding: 16px 18px;
      color: #fff;
      font-family: $yanone;
      font-size: 28px;
      margin-bottom: 8px;
    }

  }

  .related {
    .item {
      background: #fff;
      color: #161616;
      width: 100%;
      margin-bottom: 8px;
    }
    img {
      width: 62px;
      height: 62px;
      float: left;
    }
    a, span {
      display: block;
      text-decoration: none;
      background: #fff;
      color: #161616;
      text-transform: uppercase;
      float: left;
    }
    a {
      padding: 8px;
    }
    span {
      width: 200px;
      font-family: $lato;
      font-size: 12px;
      padding: 8px;
    }
    b {
      display: block;
      font-family: $yanone;
      font-size: 25px;
    }
  }

  .box-related-gallery.custom-box {

    padding-top: 0;
    width: 297px;

    span {
      display: block;
      font-size: 12px;
      font-family: "Lato", sans-serif;
      position: absolute;
      z-index: 4;
      left: 15px;
      bottom: 46px;
    }
    b {
      padding: 0 15px;
      bottom: 12px;
    }
  }

}

.prev-next {

  margin: 32px 0;

  a {
    display: block;
    text-decoration: none;
    min-width: 138px;
    height: 42px;
    line-height: 38px;
    border: 2px solid #161616;
    text-align: center;
    color: #161616;
    font-family: $yanone;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 10px;
  }

  .prev {
    float: left;
  }

  .next {
    float: right;
  }

  .prev::before {
    content: '\2190';
    display: inline-block;
    margin-right: 12px;
    font-weight: 400;
    font-family: 'Lucida Grande', Lucida Sans Unicode, Lucida Sans, Geneva, Verdana, Arial, sans-serif;
  }

  .next::after {
    content: '\2192';
    display: inline-block;
    margin-left: 12px;
    font-weight: 400;
    font-family: 'Lucida Grande', Lucida Sans Unicode, Lucida Sans, Geneva, Verdana, Arial, sans-serif;
  }
}

/* content body */
.bodytxt {

  background: #fff;
  color: #666;

  * {
    font-family: $lato;
    font-size: 16px;
    color: #666;
  }

  a {
    color: #598cff;
  }

  p {

  }


.menuitem {

  margin: 12px 0;
  width: 100%;

  table {
    margin: 0 0;
    width: 100%;
  }

  h2 {
    color: #161616;
    font-family: $yanone;
    font-size: 25px;
    font-weight: 400;
  }
  .nome {
    color: #666;
    font-family: $lato;
    font-size: 16px;
    font-weight: 400;
  }
  .prezzo {
    width: 60px;
    color: #161616;
    font-family: $lato;
    font-size: 16px;
    font-weight: 400;
  }
}

}


/* social sharing */
.share {
  p {
    text-transform: uppercase;
    color: black;
    font-family: $lato;
    font-size: 14px;
    font-weight: 400;
  }
  a {
    display: inline-block;
    text-decoration: none;
    overflow: hidden;
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-indent: 30px;
    margin-right: 12px;
  }
  .Facebook {
    background: transparent url('../img/social-facebook-circle-128.png') center center no-repeat;
  }
  .Twitter {
    background: transparent url('../img/social-twitter-circle-128.png') center center no-repeat;
  }
  .GPlus {
    background: transparent url('../img/social-circle-google-plus-2-128.png') center center no-repeat;
  }

}
/* bottoni prenota iscriviti */





@media screen and (min-width: 1280px) {
  .night {
    .col-l {
      float: left;
      width: 953px;
    }

    .col-l-large {
      width: 100%;
    }

    .col-r {
      float: right;
      width: 297px;
    }
  }
}


/* gallery dettaglio */

.gallery-top {
  background: #fff url('../img/gallery-dettaglio.jpg') center 0 no-repeat;
  background-size: auto 600px;

  .galleria {
    height: 600px;
    width: 100%;
    max-width: 1250px;
    box-sizing: content-box;
    margin: 0 auto;
  }

}
.gallery-dettaglio-txt {
  color: #161616;
  background: #fff;
  padding: 32px 0;

  h2 {
    color: #161616;
    text-transform: uppercase;
    font-family: $lato;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
  }

  h1 {
    font-family: $yanone;
    font-size: 30px;
  }
}

@media screen and (max-width: 1280px) {
  .gallery-dettaglio-txt {
      width: 95%;
      max-width: 1270px;
      margin-left: auto;
      margin-right: auto;
  }
}



.gallery-bottom {
  padding-top: 32px;

  h2 {
    color: white;
    font-family: $yanone;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }
}


/* locale dettaglio */
.page-node,
.page-ristorante-ristorante,
.page-ristorante-aperitivo,
.page-ristorante-cena,
.page-ristorante-alla-carta,
.page-the-beach-main-room,
.page-the-beach-blackroom,
.page-the-beach-ristorante,
.page-the-beach-estivo,
.page-ristorante-prenota-un-tavolo,
.page-serate-iscriviti-alla-lista
{

  main {
    background: #fff;
  }

  article .top{
    margin-bottom:16px;
  }

  article .bottom {
    background: #fff;

    h1 {
      color: #161616;
      font-family: $yanone;
      font-size: 30px;
      font-weight: 700;
      text-transform: uppercase;
    }

    .related {

      padding-top: 32px;

      img {
        display: block;
        width: 100%;
      }

      .item {
        width: 237px;
        float: left;
        margin-bottom: 16px;
      }

      .item + .item {
        margin-left: 16px;
      }

      a {
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
      }

      a::before {
        content: " ";
        display: none;
        position: absolute;
        z-index: 99;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(22, 22, 22, 0.5) url('../img/zoom-in-128.png') center center no-repeat;
      }

      .item:hover a::before, a:active::before, a:hover::before  {
        cursor: pointer;
        display: block;
      }

    }

    .col-l {

    }

    .col-r {
      .item {
        border: 5px solid #e8e8e8;
        margin-bottom: 36px;
      }
    }


  }
}

@media screen and (max-width: 623px) {

.page-node,
.page-ristorante-ristorante,
.page-ristorante-aperitivo,
.page-ristorante-cena,
.page-ristorante-alla-carta,
.page-the-beach-main-room,
.page-the-beach-blackroom,
.page-the-beach-ristorante,
.page-the-beach-estivo,
.page-ristorante-prenota-un-tavolo,
.page-serate-iscriviti-alla-lista {

  main {
    background: #fff;
    .maxwidth {
      width: 95%;
      max-width: 540px;
      margin: 0 auto;
    }
  }
}

  .page-the-beach,
  .page-ristorante,
  .page-gallery  {
    .box-top .custom-box-content {

      padding-left: 0;
      padding-right: 0;

      .slider,
      .txt {
        width: 95%;
        max-width: 540px;
        margin: 0 auto;
      }
    }
  }

}


form {
  color: #464646;
}

label,
.description {
  display: none;
}


#edit-privacy,
#edit-marketing{
  vertical-align: top;

  input,
  label {
    display: inline-block;
    max-width: 95%;
    vertical-align: top;
    line-height: 20px;
    font-size: 14px;
  }

  input {
    position: relative;
    top: 5px;
  }

  .form-item-privacy-1, .form-item-marketing-1 {
    width: 100%;
  }


}

.container-inline-date .date-padding {
  padding: 0;
}

.consenso {
  position: relative;
  top: 15px;
}


@media screen and (max-width: 623px) {
  .page-node,
  .page-ristorante-prenota-un-tavolo,
  .page-serate-iscriviti-alla-lista,
  .page-ristorante-ristorante,
  .page-ristorante-aperitivo,
  .page-ristorante-cena,
  .page-ristorante-alla-carta,
  .page-the-beach-main-room,
  .page-the-beach-blackroom,
  .page-the-beach-ristorante,
  .page-the-beach-estivo
  {
    article{

      .bottom .related {
        max-width: 237px;
        margin: 0 auto;

        .item + .item {
          margin-left: 0;
        }
      }

    }
    .col-r{
      img{
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: 624px) and (max-width: 1279px) {

  .page-node,
  .page-ristorante-ristorante,
  .page-ristorante-aperitivo,
  .page-ristorante-cena,
  .page-ristorante-alla-carta,
  .page-the-beach-main-room,
  .page-the-beach-blackroom,
  .page-the-beach-ristorante,
  .page-the-beach-estivo,
  .page-ristorante-prenota-un-tavolo,
  .page-serate-iscriviti-alla-lista
  {
    article .bottom .related{
      width: 772px;
      margin: 0 auto;

      .item:nth-child(3n+1){
        margin-left: 0;
        clear: left;
      }
    }

    .col-r {
      display: none;
    }

  }

}

@media screen and (min-width: 1280px) {
  .page-node,
  .page-ristorante-ristorante,
  .page-ristorante-aperitivo,
  .page-ristorante-cena,
  .page-ristorante-alla-carta,
  .page-the-beach-main-room,
  .page-the-beach-blackroom,
  .page-the-beach-ristorante,
  .page-the-beach-estivo,
  .page-ristorante-prenota-un-tavolo,
  .page-serate-iscriviti-alla-lista
  {
    article .bottom{
    .related{
      .item {
        margin-bottom:0;
      }
    }

    .col-l{
      width: 740px;
      float: left;

      .form-item,
      .container-inline-date
      {
        vertical-align: top;
        margin-right: 2%;
      }

      .form-item-numero-persone,
      .form-item-tipologia
      {
        display: block;
      }

      .container-inline-date .form-item{
        padding: 0;
        margin: 0;
      }

      .form-item-nome,
      .form-item-cognome,
      .form-item-email,
      .form-item-cellulare,
      .form-item-tipologia {
        display: inline-block;
        width: 47.6%;
      }

      .container-inline-date,
      .form-item-orario,
      .form-item-numero-persone {
        display: inline-block;
        width: 31%;
      }

      .form-submit{
        width: 355px;
        float: right;
        margin-right: 2%;
      }

    }
    .col-r{
      //width: 494px;
      width: calc(100% - 740px);
      max-width: 494px;
      float: right;

    }
  }
  }
}


.overlay {
  background: rgba(0, 0, 0, .75);
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 998;

  .overlay-content {
    max-width: 853px;
    margin: 0 auto;
  }

  iframe {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    clear: both;
  }

  a.close {
    background: #fff;
    color: #000;
    display: block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    text-decoration: none;
    float: right;
  }

}

form .errors {
  border: 1px solid #c00;
  padding: 10px 18px;
}

.form-checkbox.error,
.form-radio.error,
select.error
{
  outline: 1px solid #c00;
  border: none;
}

.form-checkboxes {
  /*padding-left: 12px;*/
  padding-left: 0;
}

.form-checkboxes.error {
  border: 1px solid #c00;
  background: #fff;

  .form-checkbox.error,
  .form-radio.error,
  select.error
  {
    outline: none;
  }
}

.chosen-container.error {
  border: 1px solid #c00;
  .chosen-drop {
    border:none;
  }
}

/* select chosen */
select {
  display: block;
  width: 100%;
}

.chosen-container {
  border: 1px solid #b4b4b4;

}
.chosen-container-active.chosen-with-drop .chosen-single,
.chosen-container-single .chosen-single,
.chosen-container-active .chosen-single {
  border-radius: 0;
  box-shadow: none;
  background: #fff;
  height: 46px;
  border-color: #b4b4b4;
  border: none;

  .chosen-drop {
    margin: 0;
  }

}
.chosen-container-single .chosen-single span,
.chosen-container-single .chosen-single div{
  padding-top: 10px;
  color: #464646;
  font-size: 18px;
  line-height: 22px;

}
.chosen-container-single .chosen-single span {
  padding-left: 8px;
  color: #999;
}

#google_recaptcha_contatti_form, #google_recaptcha_contatti_form *
,#google_recaptcha_prenota_serata_form, #google_recaptcha_prenota_serata_form *
,#google_recaptcha_prenota_tavolo_form, #google_recaptcha_prenota_tavolo_form *
,#google_recaptcha_user_login, #google_recaptcha_user_login *
,#google_recaptcha_user_pass, #google_recaptcha_user_pass *
{
  max-width: 100%;
}


/* facebook connect */
.buttons {
  background: #f8f8f8;


  p {
    color: #747474;
    font-family: $yanone;
    font-size: 25px;
    line-height: 34px;
    width: 388px;
    max-width: 100%;
    margin: 0px auto;
  }

  a {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 30px;
    display: block;
    width: 384px;
    max-width: 100%;
    height: 78px;
    line-height: 78px;
    margin: 10px auto;
    letter-spacing: 2px;
  }

  .facebook-connect {
    background: #4460a0 url('../img/facebook-connect.png') 12px center no-repeat;
  }

  .compila-form {
    background: #b4b4b4;
  }



}

@media screen and (max-width: 400px) {
  .buttons {
    padding: 10px 5%;
    a{
      font-size: 18px;
      height: 50px;
      line-height: 50px;
    }
    .facebook-connect {
      background-size: 12% auto;
    }
  }
}
@media screen and (min-width: 400px) {
  .buttons{
    min-height: 486px;
    padding-top: 90px;
  }
}


/* nuove gallerie */

.new-gallery {
  background: #fff;

  .filtra{
    padding: 13px 15px;
    border-bottom: 1px solid #ededed;

    h2 {
      color: #000;
      display: inline-block;
      width: 180px;
      max-width: 95%;
      line-height: 38px;
      height: 38px;
      vertical-align: middle;
    }
    #filtra-per-categoria {
      display: inline-block;
      width: 282px;
      max-width: 95%;
    }
    .chosen-container-active.chosen-with-drop .chosen-single, .chosen-container-single .chosen-single, .chosen-container-active .chosen-single
    {
      height: 38px;
      border-color: #464646;
    }
    .chosen-container-single .chosen-single span, .chosen-container-single .chosen-single div
    {
      line-height: 18px;
    }
  }

  .new-gallery-content{
    .item {
      font-family: "Lato", sans-serif;
      font-size: 12px;
      line-height: 25px;

      float: left;
      width: 320px;
      padding: 15px;
      border: 1px solid #ededed;
    }

    a {
      text-transform: uppercase;
      text-decoration: none;
      color: #161616;
    }

    img {
      width: 100%;
    }

    b {
        display: block;
        font-family: "Yanone Kaffeesatz", sans-serif;
        font-size: 25px;
        line-height: 25px;
    }
  }


}

@media screen and (max-width: 623px) {
  .new-gallery {

    .filtra {
      width: 95%;
      max-width: 540px;
      margin: 0 auto;
      padding-left: 0;
      padding-right: 0;
    }

    .new-gallery-content {
      padding-left:2.5%;
      padding-right:2.5%;
      padding-bottom: 16px;

      .item {
        width: 100%;
      }
    }
  }
}
@media screen and (min-width: 624px) {
  .new-gallery {
    .new-gallery-content {
      .item {
        width: 320px;
        min-height: 275px;
      }
    }
  }
}
@media screen and (min-width: 624px) and (max-width: 960px) {
  .new-gallery {
    .new-gallery-content {
      width: 640px;
      margin: 0 auto;
      .item {
        width: 320px;
        min-height: 275px;
      }
    }
  }
}
@media screen and (min-width: 961px) and (max-width: 1279px) {
  .new-gallery {
    .new-gallery-content {
      width: 960px;
      margin: 0 auto;
      .item {
        width: 320px;
        min-height: 275px;
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  .new-gallery {
    .new-gallery-content {
      .item {
        width: 320px;
        min-height: 275px;
      }
    }
  }
}

p a{
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}


.box-bottom-4 {
  .custom-box-content {
    img{
      width: 100%;
    }
  }
}

@media screen and (max-width: 623px){
  .box-bottom-4{
    .custom-box-content{
      background: transparent;
      padding: 0;
      text-align: center;
      .item{
        text-align: left;
        width: 100%;
        display: block;
        margin: 4px 0;
        border: 16px solid #fff;
        float: none;
      }
      .item + .item{
        margin: 4px 0;
      }
    }
  }
}


@media screen and (min-width: 624px) and (max-width: 1247px){
  .box-bottom-4{
    .custom-box-content{
      background: transparent;
      padding: 0;
      text-align: center;
      .item{
        text-align: left;
        width: calc(50% - 4px);
        display: inline-block;
        margin: 0;
        border: 16px solid #fff;
        float: none;
      }
      .item + .item{
        margin: 0 1px;
      }
    }
  }
}
@media screen and (min-width: 1248px){
  .box-bottom-4{
    .custom-box-content{
      background: transparent;
      padding: 0;
      text-align: center;
      .item{
        text-align: left;
        width: calc(25% - 4px);
        display: inline-block;
        margin: 0;
        border: 16px solid #fff;
        float: none;
      }
      .item + .item{
        margin: 0 1px;
      }
    }
  }
}

.custom-overlay{
  .overlay-content{
    margin-top: calc(50vh - 240px);
    img{
      margin: 0 auto;
      max-width: 100%;
      clear: both;
    }
  }
}



.iscriviti,.iscriviti:link,.iscriviti:active,.iscriviti:visited,.iscriviti:hover {
  display: block;
  text-decoration: none;
  width: 225px;
  height: 48px;
  background-color: #161616 !important;
  color: #fff;
  font-family: $yanone;
  font-size: 25px;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
  text-align: center;
  margin: 24px 0;
  padding-top: 3px;
}
.whatsappbutton,.whatsappbutton:link,.whatsappbutton:active,.whatsappbutton:visited,.whatsappbutton:hover{
  display: block;
  text-decoration: none;
  width: 225px;
  height: 48px;

  font-family: "Yanone Kaffeesatz",sans-serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
  text-align: center;
  margin: 24px 0;


  color: #ffffff;

  background: #25d366 url("../img/whats.png") 18px center no-repeat !important;
  background-size: 20px auto !important;
  padding-left: 24px;

  padding-top: 3px;
}
.whatbut{
  color: #fff;
  text-decoration: none;
  display: block;
  width: 175px;
  height: 42px;
  line-height: 40px;
  border: 2px solid white;
  font-size: 25px;
  font-weight: 700;
  margin: 48px auto 10px auto;
  text-align: center;
}
.whatsappbutton-centered
,.whatsappbutton-centered:link
,.whatsappbutton-centered:active
,.whatsappbutton-centered:visited
,.whatsappbutton-centered:hover
{
  margin-left: auto;
  margin-right: auto;
}
.notuppercase{
  text-transform: none !important;
}
